.sse-thumbnails {

  .bottom-image {
    position: relative;
  }

  .top-image {
    position: relative;
    top: -250px;

    transition: opacity ease-in-out;
    -moz-transition: opacity ease-in-out;
    -webkit-transition: opacity ease-in-out;
  }
}
