.sse-thumbnails {
  position: relative;

  .top-image {
    position: absolute;
    top: 0;

    transition: opacity ease-in-out;
    -moz-transition: opacity ease-in-out;
    -webkit-transition: opacity ease-in-out;
  }
}
