.sse-thumbnails {
  position: relative;

  img {
    -webkit-clip-path: circle(115px at center);
    -moz-clip-path: circle(115px);
    clip-path: circle(115px, 115px, 115px);
  }

  .top-image {
    position: relative;
    top: -244px;

    transition: opacity ease-in-out;
    -moz-transition: opacity ease-in-out;
    -webkit-transition: opacity ease-in-out;
  }
}
