.quest-list {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  height: auto;
  width: 100%;
  margin-bottom: 10px;

  .quest-list-item {
    position: relative;
    margin: 10px auto 0;

    div {
      a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .quest-info {
          position: inherit;
        }
      }
    }
  }
}
