

.left{
    width: 67%;    
}

.right{
    width: 33%;
    padding: 10px 24px;
    background: linear-gradient(180deg, #253446 0%, #1E2A38 100%);;
}

.left-contents{
    background-color: #32465e;  
    padding: 10px 24px;
}