@import "./breakpoints.scss";

.new-dash .left{
    width: 67%;
    background-color: #32465e;
    padding-left: 24px;    
}

.new-dash .right{
    width: 33%;
    padding: 10px 0px;
    background: linear-gradient(180deg, #253446 0%, #1E2A38 100%);
}

.new-dash .left-contents{    
    padding: 10px 24px 10px 0px;
}

.new-dash .mar-left-right-16{
    margin: 0px 24px;
}

@media (min-width: $screenXLarge){
    .new-dash .left{
        width: 75%;    
        padding-left: 36px;      
    }

    .new-dash .left-contents{    
        padding: 10px 36px 10px 0px;
    }

    .new-dash .right{
        width: 25%;       
    }
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .left{     
        width: 63%;     
        padding-left: 0px;      
    }
    .new-dash .left-contents{    
        padding: 16px 24px;
    }
    .new-dash .right{
        width: 37%;       
    }
}