@mixin background-image-cover {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin circle-border($radius, $color, $border-size) {
  @include border-radius($radius);
  width: $radius;
  height: $radius;
  border: $border-size solid $color;
}

@mixin prevent-user-select() {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

@function calculateRem($size) {
  $remSize: $size / 12px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin header {
  font-family: $primary-font;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(180deg,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(180deg,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(180deg,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 145px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding: 10px 50px;

  .title-container {
    margin: 0;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    .title {
      font-size: 34px;
      text-transform: none;
      color: $turqoise;
      display: inline-block;
      font-weight: 400;
    }
  }

  button {
    margin-right: 30px;
  }
}

%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
