@import "~app/styles/variables/index";
@import "~app/styles/bootstrap/index";

.box {
  $boxPadding: 40px;
  background-color: $romance;
  box-shadow: 0 0 6px $shadows;
  margin-bottom: 40px;

  .box-header {
    border-bottom: 4px solid $astronaut;
    padding: $boxPadding;
  }

  .box-body {
    padding: $boxPadding;

    hr {
      border-color: $hr-silver;
      margin: 30px -40px;
    }

    .box-cols {
      margin: -$boxPadding;
      display: flex;

      & > * {
        flex: 1;
        padding: $boxPadding;
        border-right: 1px solid $hr-silver;

        &:last-child {
          border-right: none;
        }
      }

      @include media-breakpoint-down(xs) {
        display: block;
        & > * {
          border-right: none;
          border-bottom: 1px solid $hr-silver;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
