@import '~app/styles/bootstrap/common';
@import '~app/styles/variables/index';

.dashboard-layout {
  margin: 0;
  padding: 0;
  width: 100%;

  .root {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .dash-hero {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    transition: height ease-in-out 0.3s;
    background-color: $romance;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50%;
    background-image: url('https://vega.slooh.com/assets/v4/dashboard/dashboard_graphic_v4.png');
  }

  .dash-nav {
    position: static;
    height: 160px;
    width: 100%;
    background-image: url('https://vega.slooh.com/assets/v4/dashboard/Darkest_Pattern_Canvas.png');
  }

  .sections-wrapper {
    margin-bottom: 30px;
    background-color: $faintGray;
  }

  @media (min-width: 641px) and (max-width: 768px) {
    .dash-nav {
      top: 507px;
      display: flex;
      height: 115px;
      font-size: 9px;
    }

    .dash-nav-item img {
      height: 22px;
      margin: 30px 0 20px 0;
    }
  }

  @media all and (max-width: 640px) {
    .dash-nav {
      display: none;
    }

    .sections-wrapper {
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .dash-hero {
      background-color: #213043;
      background-image: url('https://vega.slooh.com/assets/v4/dashboard/Darkest_Pattern_Canvas.png');
      background-size: 100px;
    }

    .hero-img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      max-width: 1080px;
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: 50%;
      background-image: url('https://vega.slooh.com/assets/v4/dashboard/dashboard_graphic_desktop_v4.png');
    }
  }
}
