@import "~app/styles/variables/index";

.discuss-container {
  margin-top: 15px;
}

.popular-discussion-wrapper {
  display: none;
}

@include lg() {
  .popular-discussion-wrapper {
    display: block;
  }
}

@include xl() {
  .popular-discussion-wrapper {
    display: block;
  }
}

.members-pagination{
  padding-bottom: 12px;
}
