@import "~app/styles/variables/index";
@import "~app/styles/mixins/utilities";
@import '~app/styles/bootstrap/common';

// todo GLOBAL STYLES
.modal-open .modal {
  background-color: rgba(#0a0c0e, 0.96);

  .btn.modal-btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    margin-top: 30px;
  }
}

.modal-back-btn {
  .icon {
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
}


.custom-modal {
  //font-family: BrandonGrotesque;
  font-family: $primary-font;
  padding: 100px 30px 30px;
  position: relative;

  .modal-back-btn {
    font-size: 10px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    color: $romance;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
  }

  // modal header
  .modal-h {
    //font-family: AGaramondPro;
    font-family: $secondary-font;
    font-size: 30px;
    color: $romance;
  }

  .modal-h2 {
    //font-family: AGaramondPro;
    font-family: $secondary-font;
    font-size: 24px;
    color: $romance;
  }

  .modal-h3 {
    //font-family: AGaramondPro;
    font-family: $secondary-font;
    font-size: 20px;
    color: $romance;
  }

  .modal-p {
    //font-family: AGaramondPro;
    font-family: $secondary-font;
    font-size: 19px;
    color: $romance;
  }

  .modal-box {
    padding: 40px;
    background-color: $romance;
    box-shadow: 0 0 6px 0 $shadows;

    p {
      font-family: $secondary-font;
      font-size: 19px;
      color: $lightHeadedAstronaut;
    }
  }
}


// MOBILE STYLE (https://app.zeplin.io/project/5c49ec8466e3b3bee968092b/screen/5c5c088821ae342cd2815030)
.modal.mobile-style {
  @include media-breakpoint-down(xs) {

    background-color: $faintGray;

    &:before {
      content: '';
      @include bgRepeat($blue_tile_canvas);
      background-size: 100px;
      display: block;
      position: absolute;
      height: 400px;
      z-index: 0;
      width: 100%;
    }

    .btn.modal-btn {
      border-color: $lightHeadedAstronaut;
      color: $lightHeadedAstronaut;
    }

    .dark-text-after-me-in-mobile ~ .modal-h2,
    .dark-text-after-me-in-mobile ~ .modal-h3 {
      color: $lightHeadedAstronaut;
    }

  }
}
