@import '../../../styles/variables/colors.scss';

.this-week-cards-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .this-week-cards {
    position: relative;
    list-style-type: none;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    .card-container {
      position: relative;
      padding: 0;
      margin-bottom: 25px;
      padding-bottom: 0px;

      .card-content {
        width: 295px;
        min-height: 450px;
        max-height: 450px;
        background-color: white;
        margin: 0 auto;
      }

      .card-text {
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-top: 2%;
        padding-bottom: 7%;
        text-align: left;
      }

      .card-button {
        bottom: 0;
        position: absolute;
        text-align: left;
        left: 10%;
      }
    }
  }
}
