

.new-dash .badge-main{
    padding: 24px 0px;
}

.new-dash .badge-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    margin-bottom: 10px;
    color: #FFFFFF;
}

.new-dash .badge-icon{
   width: 13px;
   height: 13px;  
   /* min-height: 25px; */
   /* border-radius: 35px; */
   /* background: #C4C4C4;    */
   margin:2px;    
   vertical-align: middle;
}

.new-dash .badge-present{
    background: url("https://vega.slooh.com/assets/v4/dashboard-new/burnhams_labyrinth_badge.svg") no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-right: 4px;
    cursor: pointer;
}

.new-dash .badge-empty{
    background: url("https://vega.slooh.com/assets/v4/dashboard-new/empty_badge.svg") no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.new-dash .badgelist{
    display: flex;
    flex-wrap: wrap;
}