@import "~app/styles/variables/index";
@import "../../../../styles/variables/colors.scss";

.status-tab {
  //padding-top: 40px;
  margin-left: -10px;


  .activeTelescopeStatus {
	margin-left: 100px;
	font-size: 1.3em;
	padding-bottom: 30px;
  }

  .telescope-views {
    margin-bottom: 40px;
    box-shadow: 0 16px 30px -5px $shadows;
    padding: 40px;

    .module-container {
      min-height: 520px;
    }
  }

  .weather {
    .temp-value {
      margin: 0;
      line-height: 10px;
      text-align: right;
    }
  }

  .module-container {
    margin: 0 10px 20px 10px;
  }

  .observatory-offline {
    .container {
      .nav-tabs > .nav-item > a {
        font-weight: 600;

      }
    }
    .tab-content > div {
      .module-container {
        margin: 0;
        box-shadow: none;
        .moonlight-actions > .button-container {
          width: 25% !important;
        }
      }
    }
  }
}
