:global {
  .authorization-popup {
    position: fixed;
    top: 70px;
    right: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
   font-family: "brandon-grotesque",sans-serif;

  }

  .authorization-popup-enter {
    opacity: 0;
    transform: translateY(-300px) translateZ(-300px);
  }
  .authorization-popup-enter-active {
    opacity: 1;
    transform: translateY(0px) translateZ(0px);
  }
  .authorization-popup-leave {
    opacity: 1;
    transform: translateY(0px) translateZ(0px);
  }
  .authorization-popup-leave-active {
    opacity: 0;
    transform: translateY(-300px) translateZ(-300px);
  }
}
