:global {
  .authorization-popup {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: 'brandon-grotesque', sans-serif;
    z-index: 99;
  }

  .authorization-popup-enter {
    opacity: 0;
  }
  .authorization-popup-enter-active {
    opacity: 1;
  }
  .authorization-popup-leave {
    opacity: 1;
  }
  .authorization-popup-leave-active {
    opacity: 0;
  }
}
