.app-content-container {
  background: url(/assets/images/graphics/space-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
  top: 47px;
  left: 69px;
  margin-right: 68px;
}

.reserve-missions {
  background: #fff;
  .container {
    background: #D8D8D8;
    width: 100%;
    padding: 15px;
  }
}

// overwrite bootstrap button to use pink
.btn-primary {
  background: #F310A7;
  color: #fff;
  height: 40px;
  line-height: 40px;
  line-height: 25px;
  font-size: 13px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: inline-block;
  margin: 15px auto;
  border: none;
  border-radius: 0;
}

.btn-primary:hover {
  background: #000;
}
