/* VARIABLES: Typefaces
 * */
/* VARIABLES: COLOR
 * */
/* VARIABLES: Layout
 * */
a, a:hover {
  text-decoration: none; }

p, h3 {
  margin: 0; }

img {
  max-width: 100%; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.notransform {
  text-transform: none; }

/**
  wrapper css to help the notification tool along
*/
.wrapper .notifications-wrapper {
  position: absolute;
  z-index: 10000; }

.app-content-container {
  min-width: 1280px; }

.static-app-content-container {
  min-width: 540px; }

.app-content-container, .static-app-content-container {
  font-family: "Brandon Grotesque", "brandon-grotesque", sans-serif;
  background: #fff;
  padding: 70px 0 0 70px;
  overflow: hidden;
  min-height: 960px; }
  .is-landing .app-content-container, .is-landing .static-app-content-container {
    padding: 0; }

.reservations {
  background: #fff;
  min-height: 100vmax; }
  .reservations .reserve-missions .container {
    background: #D8D8D8;
    width: 100%;
    padding: 0px 15px; }
    @media (min-width: 768px) {
      .reservations .reserve-missions .container {
        padding: 15px; } }

.pulse {
  background: #fff;
  padding-bottom: 100px; }
  .pulse .container {
    width: 100%;
    padding: 0 0 15px;
    min-height: 100vmax; }

.wrapper {
  position: relative; }

.btn-primary {
  background: #F310A7;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: inline-block;
  margin: 15px auto;
  border: none;
  border-radius: 0;
  text-decoration: none;
  padding: 0 15px; }
  .btn-primary.disabled {
    background: #82a0a0;
    cursor: not-allowed; }
  .btn-primary:hover {
    background: #000; }
    .btn-primary:hover.disabled {
      background: #82a0a0; }
  .btn-primary:hover, .btn-primary:focus {
    outline: none; }

.btn-cancel {
  background: black; }

.reserve-by-telescope {
  width: 98%;
  margin: 0 auto; }

/**
  generic form elements
*/
.generic-text-input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #3C4A55;
  color: #3C4A55; }

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .actions-container .btn-primary {
    min-width: 160px; }

.symbol-character {
  font-family: "Adobe Garamond Pro", "adobe-garamond-pro", "Adobe Garamond", "Garamond", serif;
  font-style: italic; }

.react-spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 50%; }

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: #F310A7;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%; }

@keyframes react-spinner_spin {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.15; } }
@-moz-keyframes react-spinner_spin {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.15; } }
@-webkit-keyframes react-spinner_spin {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.15; } }
.flex-center {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start; }

.my-pictures-container {
  background: #D9D9D9;
  padding: 10px 0 30px 0; }

.my-pictures-sidebar {
  background: #fff;
  margin: 0 auto;
  padding: 10px 60px 0 60px; }
  .my-pictures-sidebar h2 {
    text-align: center;
    border-bottom: 1px solid #609293;
    padding-bottom: 10px;
    color: #3C4A55; }

.discussions-wrapper {
  background: white;
  height: auto; }

.discussions-container {
  background: #fff;
  padding: 40px 0 30px 0;
  min-height: 100vmax;
  overflow: auto; }
  .discussions-container.new {
    padding: 40px 185px 30px 185px;
    height: inherit; }
  .discussions-container.thread-list {
    height: inherit;
    overflow: inherit; }

.align-right {
  text-align: right; }

.closed-icon {
  height: 25px;
  width: 25px;
  margin: 0 0 5px 5px; }

.errorMsg {
  color: #FC1048;
  font-weight: bold; }

.auto-top {
  margin-top: auto; }

.rc-pagination {
  margin: 0px 15px 20px; }
  .rc-pagination .rc-pagination-prev, .rc-pagination .rc-pagination-jump-prev, .rc-pagination .rc-pagination-jump-next {
    margin-right: 5px; }

.rc-pagination-item-active {
  background-color: #F310A7;
  border-color: #F310A7; }

.center {
  text-align: center;
  margin: 50px auto; }

.ReactModal__Overlay {
  z-index: 9999; }

/*# sourceMappingURL=app.css.map */
