@import './variables/fonts.scss';
@import './variables/colors.scss';
@import './variables/layout.scss';
@import './mixins/utilities.scss';

a,
a:hover {
  text-decoration: none;
}
p,
h3 {
  margin: 0;
}
img {
  max-width: 100%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.notransform {
  text-transform: none;
}

/**
  wrapper css to help the notification tool along
*/
.wrapper {
  .notifications-wrapper {
    position: absolute;
    z-index: 10000;
  }
}

.app-content-container {
  min-width: $slooh-content-width;
}

.static-app-content-container {
  min-width: 540px;
}

.app-content-container,
.static-app-content-container {
  font-family: $primary-font;
  background: #fff;
  padding: $slooh-header-height 0 0 $slooh-menu-width;
  overflow: hidden;
  min-height: 960px;

  .is-landing & {
    padding: 0;
  }
}

.reservations {
  background: $white;
  min-height: 100vmax;

  .tooltip {
    width: 400px;
  }

  .reserve-missions {
    .container {
      background: #d8d8d8;
      width: 100%;
      padding: 0px 15px;
      @media (min-width: 768px) {
        padding: 15px;
      }
    }
  }
}

.pulse {
  background: $white;
  padding-bottom: 100px;

  .container {
    width: 100%;
    padding: 0 0 15px;
    min-height: 100vmax;
  }
}

.wrapper {
  position: relative;
}

// overwrite bootstrap button to use pink
.btn-primary {
  background: #f310a7;
  color: $white;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: inline-block;
  margin: 15px auto;
  border: none;
  border-radius: 0;
  text-decoration: none;
  padding: 0 15px;

  &.disabled {
    background: $slooh-gray;
    cursor: not-allowed;
  }

  &:hover {
    background: #000;

    &.disabled {
      background: $slooh-gray;
    }
  }

  &:hover,
  &:focus {
    outline: none;
  }
}

.btn-cancel {
  background: $slooh-black;
}

.reserve-by-telescope {
  width: 98%;
  margin: 0 auto;
}

/**
  generic form elements
*/
.generic-text-input {
  @include border-radius(5px);
  padding: 10px;
  border: 1px solid $darkBlueGray;
  color: $darkBlueGray;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol-character {
  font-family: $secondary-font;
  font-style: italic;
}

.react-spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 100px;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: $pink;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

@-moz-keyframes react-spinner_spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

@-webkit-keyframes react-spinner_spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

.flex-center {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

.my-pictures-container {
  background: $gray;
  padding: 20px 0 30px 0;
}

.my-pictures-sidebar {
  background: $white;
  margin: 0 auto;
  padding: 10px 60px 0 60px;

  h2 {
    text-align: center;
    border-bottom: 1px solid #609293;
    padding-bottom: 10px;
    color: $darkBlueGray;
  }
}

.discussions-wrapper {
  background: $slooh-white;
  height: auto;
}
.discussions-container {
  background: $white;
  padding: 40px 0 30px 0;
  min-height: 100vmax;
  overflow: auto;

  &.new {
    padding: 40px 185px 30px 185px;
    height: inherit;
  }

  &.thread-list {
    height: inherit;
    overflow: inherit;
  }
}

.align-right {
  text-align: right;
}

.closed-icon {
  height: 25px;
  width: 25px;
  margin: 0 0 5px 5px;
}

.errorMsg {
  color: $red;
  font-weight: bold;
}

.auto-top {
  margin-top: auto;
}

.rc-pagination {
  margin: 0px 15px 20px;
  .rc-pagination-prev,
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    margin-right: 5px;
  }
}
.rc-pagination-item-active {
  background-color: $pink;
  border-color: $pink;
}

.center {
  text-align: center;
  margin: 50px auto;
}

// React Modal
.ReactModal__Overlay {
  z-index: 9999;
}
