a, a:hover {
  text-decoration: none;
}
p , h3 {
  margin: 0;
}
img {
  max-width: 100%;
}

.app-content-container {
  background: url(../../assets/images/graphics/space-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-left: 100px solid #3C4A55;
  position: relative;
  left: 69px;
  top: 70px;
  margin-right: 68px;
  margin-left: -100px;
  padding-bottom: 20px;
  min-width: 1280px;
}

.reservations {
  background: #fff;

  .reserve-missions {
    .container {
      background: #D8D8D8;
      width: 100%;
      padding: 15px;
    }
  }
}

// overwrite bootstrap button to use pink
.btn-primary {
  background: #F310A7;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: inline-block;
  margin: 15px auto;
  border: none;
  border-radius: 0;
  text-decoration: none;
  padding: 0 15px;
}

.btn-primary:hover {
  background: #000;
}


.reserve-by-telescope {
  width: 98%;
  margin: 0 auto;
}
