.i-box {
  @extend .flex-col;
  flex: 1;

  &-white {
    background-color: $romance;
    box-shadow: 0 0 6px $shadows;
  }

  &-white-tile-paper {
    @include bgRepeat($white_tile_paper);
    background-size: 100px;
  }

  &-blue-tile {
    @include bgRepeat($blue_tile_canvas);
    background-size: 100px;
  }
}

.i-text-box {
  margin: 20px 0;

  p {
    font-size: 19px;
    color: $raven;
    line-height: 29px;
  }
}
