@import '../styles/variables/fonts';
@import '../styles/variables/colors';


.countdown {
  display: flex;
  flex-direction: column;
  float: right;
  height: 100%;
  color: $blueGreen;
  font-family: $primary-font;
  font-weight: 600;
  padding: 10px 90px 5px 10px;

  span{
    color: $white;
    font-size: 13px;
  }

  a{
    color: $blueGreen;
    font-size: 13px;
  }
}


.countdown.live{
  justify-content: center;
  align-items: center;
  padding: 0;

  .circle{
    width: 150px;
    height: 150px;
  }
  .hand{
    display: none;
  }

  span, a{
    font-size: 20px;
  }

  .circleTimer{
    padding-bottom: 30px;
  }
}