@import './variables/fonts.scss';
@import './variables/colors.scss';
@import './variables/layout.scss';

.mainHeader {
  height: $slooh-header-height;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 999;
  left: $slooh-menu-width;
  right: 0;

  .is-landing & {
    left: 0;
  }

  .mainHeaderLogo {
    position: absolute;
    left: 20px;
    text-indent: -9999;
    background-image: url(../../assets/icons/header/logo.svg);
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 12px 0 0 12px;
  }

  .mainHeaderLogoText {
    font-family: $primary-font;
    position: absolute;
    left: 90px;
    top: 5px;
    display: inline-block;
    color: #FFF;
    font-size: 50px;

    .beta {
      font-size: 10px;
      text-transform: uppercase;
      color: $light-turqoise;
      margin-left: -5px;
    }
  }
}
