.icon-ellipsis-h:before {
  content: "\e90d";
}
.icon-user_astronaut .path1:before {
  content: "\e909";
  color: #000;
}
.icon-user_astronaut .path2:before {
  content: "\e90a";
  color: #000;
  margin-left: -1em;
}
.icon-user_astronaut .path3:before {
  content: "\e90b";
  color: #e7eced;
  margin-left: -1em;
}
.icon-search:before {
  content: "\e908";
}
.icon-bars:before {
  content: "\e907";
}
.i-logo_astronaut {
  position: relative;
  top: 2px;
  display: inline-flex;
  height: 15px;
  width: 15px;
  font-style: normal;
  background: transparent url("https://vega.slooh.com/assets/v4/icons/slooh_logo_astronaut.svg") no-repeat;
  background-size: 100%;
}
.i-telescope_astronaut {
  position: relative;
  top: 2px;
  display: inline-flex;
  height: 15px;
  width: 15px;
  font-style: normal;
  background: transparent url("https://vega.slooh.com/assets/v4/icons/telescope_astronaut.svg") no-repeat;
  background-size: 100%;
}
.i-user-astronaut {
  display: inline-flex;
  height: 15px;
  width: 15px;
  font-style: normal;
  background: transparent url("https://vega.slooh.com/assets/v4/icons/user_astronaut.svg") no-repeat;
  background-size: 100%;
}


.icon-cross:before {
  content: "\ea0f";
}
