@import "~app/styles/variables/colors.scss";
@import "~app/styles/mixins/utilities.scss";
@import "~app/styles/variables/media-queries.scss";

// Borders
.hr {
  height: 0;
  width: 100%;
  margin: 0;
  border-top: 1px solid $hr-silver;
}

.no-last-border {

  hr:last-child {
    display: none;
  }
}


// Virtual boxes
.i-image {

  img {
    width: 100%;
    max-width: 100%;
  }
}


// Wrappers
.i-wrapper {
  max-width: 1180px;
  margin: 0 auto;

  @media all and (min-width: 769px) and (max-width: 1024px) {
    max-width: 860px;
  }

  @media all and (min-width: 641px) and (max-width: 768px) {
    max-width: 690px;
  }
}

.i-root {
  width: 100%;
  margin: 0 auto;

  @include xl() {
    width: 940px;
  }

  @include lg() {
    width: 780px;
  }

  @include md() {
    width: 620px;
  }

  @include sm() {
    width: 95%;
  }

  @include xsm() {
    width: 95%;
  }
}







