@import "~app/styles/variables/colors.scss";
@import "~app/styles/mixins/utilities.scss";

// Borders
.hr {
  height: 0;
  width: 100%;
  margin: 0;
  border-top: 1px solid $hr-silver;
}

.no-last-border {

  hr:last-child {
    display: none;
  }
}


// Virtual boxes
.image {

  img {
    width: 100%;
    max-width: 100%;
  }
}


// Wrappers
.wrap {
  margin: 0 auto;

  &-850 {
    max-width: 850px;
  }
}





