* {
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  padding: 0px;
  height: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  color: #373a3c;
}

body {
  font-size: 16px;
}

main {
  order: 1;
  flex-grow: 1;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

label.error input {
  border-color: maroon;
}

label.error .error-description {
  color: maroon;
}


.upcoming h4 {
  margin: 0px;
  padding: 0px;
}

.upcoming p {
  margin: 0;
}

.upcoming .reminder-header {
  height: 22px;
  padding-left: 10px;
  padding-top: 6px;
}

ul.bulleted {
  list-style: disc;
  padding-left: 15px;
}




/*sp additions*/
.upcoming-show-preview {
  width: 150px;
  height: 100px;
}

#nav-shows article {
  padding-bottom: 30px;
}


.obs-dayicon {
  float: left;
  margin-right: 10px;
  width: 18px;
}
.obs-status-legend {
  margin-top: 30px;
}

.menu-social {
  float: left;
  width: 42px;
  margin: 0 5px;
}

.menu-search {
  margin-top: 20px;
}

.menu-searchinput {
  font-size: 14px;
  height: 20px;
  width: 125px;
  padding: 3px;
}

.menu-searchimage {
  float: right;
  width: 22px;
}
