.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-end {
  align-self: flex-end;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.min {

  &-height-150 {
    min-height: 150px;
  }
}
