$popupWidth: 400px;

.login {
  margin: 0 auto;
  border: 1px solid silver;
  padding: 30px;
  transition: all 300ms;
  text-align: left;
  font-weight: 300;

  h3 {
    margin: 0;
    margin-bottom: 15px;
  }
  .row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  label {
    display: block;

    span {
      font-weight: 500;
    }

    input {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      border: 1px solid grey;
      padding: 10px 15px;
      border-radius: 4px;
      line-height: 21px;
      font-family: "brandon-grotesque",sans-serif;
      color: #000;
      font-weight: 500;
    }
  }
  strong {
    margin-top: 0.5rem;
  }
  button {
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 4px;
    line-height: 21px;
    font-size: 13px;
    font-weight: bold;
    background-color: #F310A7;
    color: #FFF;
  }
  .bottomOutside {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
