@import './variables/colors.scss';
@import './variables/fonts.scss';

.member {
  display: flex;
  float: right;
  height: 100%;
  flex-direction: row;

  .memberInfo {
    color: $white;
    font-family: $slooh-sans;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

    .avatar {
       width: 30px;
      height: 30px;
      repeat: no-repeat;
      background-size: cover;
      border-radius: 15px;
      margin-right: 10px;
    }
    .messages {
      display: flex;
      margin-left: 15px;
      flex-direction: row;
      .messagesIcon {
        font-size: 20px;
        color: #000;
      }
      .count {
        display: flex;
        width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        font-size: 11px;
      }
    }
  }
  @media(max-width:670px){
    .memberInfo{
      display:none;
    }
  }
  .rightButton {
    display: flex;
    height: 100%;
    background: #3C4A55;
    box-shadow: inset 3px 0px 6px 0px rgba(0,0,0,0.50);
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "brandon-grotesque",sans-serif;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0 20px;
    border: none;

    &:focus {
      outline: none;
    }
  }
  .regButton {
    display: flex;
    font-family: "brandon-grotesque",sans-serif;
    text-decoration: none;
    height: 60%;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    background-color: #F310A7;
    color: #fff;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .loggedOutWrapper {
    display: flex;
    height: 100%;
  }
}
