@import "~app/styles/variables/index";
@import "~app/styles/variables/media-queries.scss";
@import "~app/styles/mixins/utilities.scss";


// article, headers, paragraphs
// primary - BrandonGrotesque
// secondary - Adobe Garamond Pro

$goldenRatio: 1.53;

article {

  .i-text {

  .text {
    margin: 10px 0 30px;
  }
}
}

.h-1,
.h-2 {
  font-weight: 400;
  font-family: $secondary-font;

  &-primary {
    font-family: $primary-font;
    letter-spacing: 2px;
  }

  &-bold {
    font-weight: 700;
  }
}

.h-3,
.h-4,
.h-5,
.h-6,
.i-text {
  font-weight: 700;
  font-family: $primary-font;
}

.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  color: $astronaut;
  margin: 0 !important;
  text-transform: uppercase;

  &-white {
    color: $white;
  }

  &-dark {
    color: $lightHeadedAstronaut;
  }

  &-normal {
    font-weight: normal;
  }
}

.i-text {
  color: $astronaut;
}

.h-1 {
  font-size: 40px;
  line-height: 2.07;

  @include md() {
    font-size: 24px;
    line-height: $goldenRatio;
  }

  @include sm() {
    font-size: 24px;
    line-height: $goldenRatio;
  }
}

.h-2 {
  font-size: 16px;
  line-height: $goldenRatio;

  &-md {
    font-size: 20px;
  }

  &-lg {
    font-size: 24px;
  }
}

.h-3 {
  font-size: 12px;
  line-height: $goldenRatio;
  letter-spacing: 2px;
}

.h-4 {
  font-size: 11px;
  line-height: $goldenRatio;
  letter-spacing: 0.6px;
}

.h-5 {
  font-size: 10px;
  line-height: $goldenRatio;
}

.h-6 {
  font-size: 8px;
  line-height: $goldenRatio;
}

.i-text {
  font: 19px $secondary-font;
  line-height: $goldenRatio;
  margin: 0 0 2px;
  color: $raven;

  &-white {
    color: $white;
  }

  &-18 {
    font-size: 18px;
  }
}
