.mission-card{
    padding: 2em;    
    background: #202D3D;
    border-radius: 8px; 
    margin-right: 10px;
    width: 200px;
}

.time{
   
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    /* identical to box height */


    color: #B2B2B2;
}

.scheduled-by{        

    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    color: rgba(255, 255, 255, 0.8);

}

.obj-name{
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    color: #FFFFFF;
}