.featured-in-logos {
  padding: 15px;
  text-align: center;

  .leftColumn {
    float: left;

    .featured-in-logo {
      padding: 15px 0;
    }
  }

  .rightColumn {
    float: right;

    .featured-in-logo {
      padding: 10px 0;
    }
  }
}
