@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/fonts.scss";

.slooh-extras-title-bar {
  font-family: $primary-font;
  color: $light-blue;
  text-align: center;
  background: #000;
  padding: 15px 0;
  font-size: 1.45em;
}
