@import '~app/styles/variables/index';

.image-details {
  padding-bottom: 40px;

  .mission-detail,
  .mission-image-detail-list {
    & > div {
      margin: 0 !important;
    }
  }

  .root {
    width: 100% !important;
  }

  .responsive-two-cols {
    .left-container {
      margin: 0 30px 0 0;
      flex: 1;

      @include md-low() {
        margin: 0;
      }
    }
  }

  .obs-img-container {
    width: 100%;
    padding: 0;
    background-color: $romance;
    box-shadow: 0 2px 4px 1px $shadows;

    .obs-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 0 auto;
      display: block;
      width: 100%;

      &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: 68.49%;
      }
    }

    .obs-header {
      padding: 25px;

      .obs-img-header {
        padding: 25px;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }

      h3 {
        font-family: $primary-font;
        font-size: 10px;
        font-weight: bold;
      }

      .obs-img-subheader {
        font-family: $secondary-font;
        font-size: 20px;
      }
    }
  }

  .object-details {
    display: none;

    @include md-low() {
      display: block;
    }
  }

  // @media ${screenMedium} {
  //   .object-details {
  //     display: block;
  //   }
  // }
}
