@import "../../../styles/variables/fonts.scss";
$cardHeight: 730px;

.telescope-cards-container {
  font-family: $primary-font;

  .telescope-cards {

    .telescope-card-front {
      width: 378px;
      text-align: center;
      background: #fff;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;



      .card-header {
        background: #9B9B9B;
        padding: 20px 20px;
        position: relative;
        height: 239px;

        .flip-card-action {
          color: #fff;
          background: #F310A7;
          position: absolute;
          top: 2%;
          right: 2%;
          border: none;
          padding: 5px;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          font-size: 1.75em;
        }

        .icon {
          margin-bottom: 10px;
        }

        .title {
          color: #000;
          font-weight: 800;
          margin-bottom: 10px;
          font-size: 1.3em;
          padding: 0 0;
        }

        .body {
          color: #fff;
        }

        .call-to-action {
          position: absolute;
          bottom: 10px;
          width: 330px;

          .action {
            color: #fff;
            background: #F310A7;
            text-align: center;
            display: block;
            padding: 10px 15px;
            font-size: 0.75em;
            font-weight: bold;

          }

          .action:first-child {
            margin-right: 0;
          }

          .action:hover {
            text-decoration: none;
            background: #3B3B3B;
          }
        }
      }

      .card-body {
        background: #fff;
        padding: 10px 0;
        margin-bottom: 20px;
        position: relative;
        height: 389px;

        .count-down {
          position: absolute;
          left: 2.5%;
          top: 2.5%;
          background: #000;
          color: #7EC3C4;
          padding: 10px;
          width: 60px;
          height: 60px;
          border-radius: 60px;
          -moz-border-radius: 60px;
          -webkit-border-radius: 60px;

          .counter-text {
            font-weight: 300;
          }
        }

        .image-viewer {

          .title {
            margin: 0;
            height: 21px;
            font-size: 1.2em;
            font-weight: 300;
          }

          .telescope-image {
            height: 250px;
            margin-bottom: 30px;

            -webkit-clip-path: circle(115px at center);
            -moz-clip-path: circle(115px);
            clip-path: circle(115px, 115px, 115px);

            .top-image { /* HACK: forcing the left position for the top image */
              left: 20px;
            }
          }

          .telescope-image-title {
            font-size: 1.5em;
            font-weight: 800;
            position: relative;
            top: -20px;
          }

          .telescope-status {
            color: #ED1F06;
            padding: 0 5%;
            margin: -20px 0 24px 0;
          }
        }

        .sponsor {
          position: absolute;
          bottom: 16px;
          left: 18%;
          font-size: 0.85em;
          color: #3C4A55;
        }
      }
    }
  }
}
