.telescope-cards-container {
  min-width: 1200px;
  position: relative;
  top: -100px;

  .telescope-cards {
    list-style-type: none;

    .card-container {
      position: relative;

      /* Set the transition effects */
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      -o-transition: -o-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;

      .card-content {
        width: 370px;
        margin: 0 auto;
      }
    }

    .flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
    }
  }
}
