.telescope-cards-container {
  width: 1365px;
  margin: 0 auto;
  position: relative;
  top: -120px;

  .telescope-cards {
    list-style-type: none;
    padding: 0;
    padding-left: 30px;

    .card-container {
      position: relative;
      width: 375px;
      float: left;
      padding: 0;
      margin-right: 70px;
      margin-bottom: 25px; /* new from will */

      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease;

      /* Set the transition effects */
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;
      -o-transition: -o-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;

      .card-content {
        width: 100%;
        margin: 0 auto;
      }

      &.flipped {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
    }

  }
}
