@import '~app/styles/bootstrap/common';
@import '~app/styles/variables/index';

$BOTTOM_MARGIN_FIX: 3000px; // todo
.profile-image-list-wrapper {
  .filter-dropdown-btn {
    position: absolute;
    right: 50px;
    top: -73px;
  }

  @include media-breakpoint-down(sm) {
    .filter-dropdown-btn {
      width: calc(100% - 70px);
      left: 37px;
      top: -46px;

      button {
        width: 100%;
      }
    }
  }

  .filter-shader {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -1000px;
    right: -1000px;
    bottom: -($BOTTOM_MARGIN_FIX);
    background-color: rgba(10, 12, 14, 0.9);
  }


  // apply styles when filter dropdown is opened
  &.filter-open {
    .uniqclass-for-overflow {
      margin-bottom: $BOTTOM_MARGIN_FIX;
    }

    .image-list-placeholder {
      margin-bottom: $BOTTOM_MARGIN_FIX;
    }
  }
}
