.profile-image-list-wrapper {
  .filter-dropdown-btn {
    position: absolute;
    right: 50px;
    top: -73px;
  }

  .filter-shader {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -500px;
    right: -500px;
    bottom: -1500px; // todo FIX ME IVAN
    background-color: rgba(10, 12, 14, 0.9);
  }
}
