{
  "plugins": [
    "styled-jsx/babel",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind"
  ],
  "presets": ["env", "react"]
}
