{
  "plugins": [
    ["styled-jsx/babel", { "optimizeForSpeed": true }],
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind",
    ["module-resolver", {
      "root": ["./app"]
    }]
  ],
  "presets": ["env", "react"]
}
