@import '../../styles/variables/colors.scss';

.aboutEclipseWrapper {
  background: url(/assets/images/roadtrip-lander/eclipse-background.png) center top no-repeat;
  display: flex;
  color: $slooh-white;

  .container {
    flex: 0 0 1040px;
    padding: 204px 0 204px 442px;
    display: flex;
    flex-direction: column;
  }

  .header {
    font-size: 55px;
    font-weight: bold;
    line-height: 0.98;
    text-transform: uppercase;
  }

  .eclipseDescription {
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 1.79;
    margin: 22px 0 10px;
  }

  .sloohStream {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  .date {
    text-transform: uppercase;
    font-weight: bold;
  }

  .btnGroup {
    display: flex;
    margin-top: 33px;
  }

  .actionBtn {
    background: $pink;
    color: $slooh-white;
    padding: 15px 42px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
  }
}
