@import "../../styles/variables/colors";

.sloohRoadTripsWrapper {
  background: url(https://vega.slooh.com/assets/images/roadtrip-lander/roadtrip-mobile-home.jpg) center top no-repeat;
  display: flex;
  justify-content: center;
  color: $slooh-white;
  padding: 160px 0 386px;

  .container {
    flex: 0 0 960px;
    display: flex;
  }

  .inner {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header {
    font-size: 55px;
    font-weight: bold;
    line-height: 0.98;
    text-transform: uppercase;
  }

  .description {
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 1.79;
    margin: 22px 0 10px;
  }

  .actionBtn {
    margin-top: 6px;
    background: $pink;
    padding: 18px 50px;
    font-weight: bold;
    font-size: 18px;
    border: none;
  }
}
