@import "../../styles/variables/colors";

.sloohSunglassesWrapper {
  background: url("/assets/images/roadtrip-lander/sunglasses.jpg") center top no-repeat;
  display: flex;
  justify-content: center;
  color: $slooh-white;
  padding: 650px 0 134px;

  .container {
    flex: 0 0 960px;
  }

  .header {
    font-size: 42px;
    font-weight: bold;
    line-height: 0.93;
    text-transform: uppercase;
  }

  .description {
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 1.79;
    margin: 22px 0 10px;
  }

  .actionBtn {
    margin-top: 6px;
    background: $pink;
    padding: 18px 50px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    display: inline-block;
    color: $white;
  }
}
