@import '~app/styles/bootstrap/common';
@import '~app/styles/variables/index';

  p {
    margin: 0;
    font-family: $secondary-font;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0;
    color: $raven;
  }