@import '~app/styles/variables/media-queries';
@import '~app/styles/variables/colors';
@import '~app/styles/variables/shadows';

.app-footer {
  .root {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-family: Arial, sans-serif;
    background-color: $seashell;
    box-shadow: $faintShadow;
    padding: 15px;
    justify-content: space-between;

    .footer-menu-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .buttons {
      display: flex;
      list-style-type: none;
      margin-left: 15px;

      .action {
        color: $lynch;
        width: auto;
        font-size: 13px;
        display: inline-block;
        margin-right: 0;
        padding: 0 10px;
        border-right: 1px solid $shadows;
      }

      li:last-child .action,
      .social {
        border-right: 0;
      }
    }
  }
}

@media (max-width: $screen-sm-min) {
  .app-footer {
    text-align: center;

    .root {
      flex-direction: column;
      align-items: center;

      .footer-menu-wrapper {
        flex-direction: column;

        .footer-menu {
          margin-top: 12px;
        }
      }

      .footer-social {
        .action {
          font-size: 14px;
        }
      }

      .buttons {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}
