@import '~app/styles/variables/index';

.btn-with-popover {
  display: inline-block;

  .icon-btn {
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: .3s, .4s;

    span {
      line-height: 40px;
      font-size: 15px;
    }

    &.opened {
      background-color: $lightHeadedAstronaut;
      color: #fff;
    }

  }

  &.plain {

    .icon-btn {
      top: 2px;
      border: none;
      position: relative;
      width: auto;
    }
  }
}
