@import "../../../styles/variables/fonts.scss";

.current-selection-header {
	font-family: $primary-font;

	.title-container {
		border-bottom: 1px solid #979797;
		padding: 5px 10px;
		text-align: left;
		margin-bottom: 5px;

		.telescope-title-container {

			.telescope-title {
				font-size: 2.250em;
				vertical-align: top;
				font-weight: 600;
				padding-left: 20px;
			}

			.sponsoredby-text {
				float: right;
				padding-top: 15px;

				.sponsoredby-logo {
					padding-left: 20px;
				}
			}
		}

	}
}
