@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .party-list-main{
    padding: 24px 0px;
}

.new-dash .party-list-heading{
    /* position: absolute;
    width: 177px;
    height: 21px;
    left: 24px;
    top: 4130px; */
    
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}

.new-dash .party-list{
    display: flex;
    flex-wrap: wrap;
    
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .party-list-heading{
        font-size: 16px;
        line-height: 19px;
    }
}

