.allskyCameraWidgetContainer {
  position: relative;

  .openModalAction {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 24px;
    background: none;
    border: none;
  }
}
