@import '~app/styles/variables/index';

// todo can be global
.modal-wrapper {
  //max-width: 620px;
  margin: auto;

  .related-show {
    width: 330px;
    height: 330px;
    background: url('https://vega.slooh.com/assets/v4/common/show_card_bg.jpg');
    background-size: cover;
    cursor: pointer;
  }

  .related-show-title {
    font-family: $secondary-font;
    font-weight: 100;
    font-size: 20px;
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    color: $romance;
    text-align: center;
  }
}

.mission-success-modal {
  &.custom-modal-backdrop {
    z-index: 1060;
  }

  &.modal {
    z-index: 1070;
  }
}
