@import '../../styles/variables/fonts';
@import '../../styles/variables/colors';
@import '../../styles/mixins/utilities';

$headerSize: 1rem;

.RichTextEditor {
  font-family: $secondary-font;
  font-weight: normal;
  min-width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(88, 88, 88, 0.5);

  .DraftEditor-root {
    border: 1px solid #ced2d8;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: .25rem;
    background-color: #f2f2f2;
    color: #415671;

    .public-DraftEditor-content {
      min-height: 220px;
    }
  }

  .RichEditor-controls-container {
    padding-top: 5px;
    border: 1px solid #ced2d8;
    border-bottom: 0;
    text-align: center;
    background-color: #f2f2f2;
  }

  .buttons, .urlInputContainer {
    margin-bottom: 10px;
  }

  .urlInputContainer {

  }

  .urlInput {
    font-family: $secondary-font;
    margin-right: 10px;
    padding: 3px;
  }

  .editor {
    border: 1px solid #ced2d8;
    cursor: text;
    min-height: 80px;
    padding: 10px;
  }

  .link {
    color: #1c2633;
    text-decoration: underline;
  }

  .header-icon-h1 {
    font-size: $headerSize;
  }

  .header-icon-h2 {
    font-size: $headerSize*.9;
  }

  .header-icon-h3 {
    font-size: $headerSize*.8;
  }

  .header-icon-h4 {
    font-size: $headerSize*.7;
  }

  .header-icon-h5 {
    font-size: $headerSize*.6;
  }

  .header-icon-h6 {
    font-size: $headerSize*.5;
  }

  .RichEditor-styleButton {
    color: #415671;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }

  .RichEditor-activeButton {
    color: #ffde00;
  }

  .RichEditor-horizontalRule {
    border-top: 1px solid #415671;
  }
}
