@import '~app/styles/variables/index';

.reservation-slooh-1000 {
  &.slooh-1000 {
    padding: 20px 0 0;
  }

  .slooh-1000-setup {
    .steps {
      margin: 40px 0 -40px;
    }

    .setup-header {
      padding: 0 40px;
    }
  }
}
