@import "../../../styles/variables/fonts.scss";

.obs-telescope-selection-widget {
  position: relative;
  font-family: $primary-font;

  .universal-time {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
  }
}

.telescope-selection-container {
  color: #000;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;

  .categories {
    font-size: 1.2em;

    .category-list {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .observatory {
      display: inline-block;
      margin-left: 30px;

      .cat-link {
        color: #fff;
        cursor: pointer;

        &.active {
          color: #000;
          font-weight: 600;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .piers {
      margin: 0 0 5px 0;

      .icon-container {
        display: inline-block;
        margin-left: 20px;
      }

      &:first-child {
        margin-left: 0;
      }
    }

  }

}
