@import "../../../styles/variables/fonts.scss";
@import "../../../styles/variables/colors.scss";

.obs-telescope-selection-widget {
  position: relative;
  font-family: $primary-font;
padding-top:35px;

  .universal-time {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .description {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

.obs-telescope-selection-widget.light .telescope-selection-container {
  .description {
    color: $darkBlueGray;
  }

  .cat-link {
    color: $pink;
  }
}

.obs-telescope-selection-widget.dark .telescope-selection-container {
  .description {
    color: #fff;
  }

  .cat-link {
    color: #fff;
  }
}

.telescope-selection-container {
  color: #000;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;

  .categories {
    font-size: 1.2em;

    .category-list {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .observatory {
      display: inline-block;
      @media(min-width:768px){
        margin-left: 30px;
      }

      .cat-link {
        cursor: pointer;

        &.active {
          color: #000;
          font-weight: 600;
        }

        &:focus {
          text-decoration: none;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .piers {
      margin: 0 0 5px 0;

      padding-left: 100px;
      @media(max-width:767px){
        padding:0px;
      }

      .icon-container {
        display: inline-block;
        width: 100px;
        text-align: center;

        .telescope-button {
          width: 100%;
          display: inline-block;

          &.active,
          &.hovered {
            cursor: pointer;
            .img-circle {
              border-radius: 50%;
              border: 5px solid $pink;
            }
          }
          &.active.hovered-exists {
            .img-circle {
              border-color: transparent;
            }
          }
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

  }

}
