@import "../../../styles/variables/fonts.scss";

.obs-telescope-selection-widget {
  position: relative;
  font-family: $primary-font;

  .universal-time {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.telescope-selection-container {
  color: #000;
  margin: 0 auto;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  .categories, .list {
    li {
      display: inline-block;
      margin: 0 10px;

    }
  }
  .categories {
    padding: 10px 0px;
    font-size: 1.2em;

    li {

      .cat-link {
        color: #fff;
        cursor: pointer;

        &.active {
          color: #000;
          font-weight: 600;
        }
      }

    }


  }

  .list {
    .icon-container {
      a {
        &.active, &:hover {
          .icon {
            -webkit-box-shadow: 0px 0px 0px 5px #F310A7;
            box-shadow: 0px 0px 0px 5px #F310A7;
          }
        }
      }
    }
  }

  .description {
    text-align: center;
    padding: 10px 5px;
    font-size: 14px;

    li {
      display: none;

      &.active {
        display: block;
      }
    }


  }
}
