@import '~app/styles/variables/index';

.slooh-1000 {
  background-color: $faintGray;
  padding-bottom: 100px;
  padding-top: 40px;

  .reserved-mission {
    .box {
      padding: 0;
    }

    .reserved-mission-gag {
      height: 200px;
      padding: 50px 0;
      text-align: center;
      font-family: $primary-font;
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 0.6px;
      color: $astronaut;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
