


.tab-header-txt{   
    position: static;
    display: flex;
    flex-direction: row;
    /* width: 84px;
    height: 14px;
    left: 24px;
    top: 12px; */
    padding: 12px 15px;

    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: center;    
    margin-right: 24px;
    list-style-type: none;
    display: inline-block; 
    cursor: pointer;   
}

.tab-header-txt-active{
    display: flex;
    flex-direction: row;
    padding: 12px 24px;

    position: static;
    /* width: 129px;
    height: 38px;
    left: 0px;
    top: 0px; */
    
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background: #253446;
    border-radius: 8px;
    color: #FFFFFF;   

    flex: none;
    order: 0;
    align-self: center;    
    list-style-type: none;
    display: inline-block; 
    cursor: pointer;   
}

.tab-header-main{    
     padding: 0px 0px 0px 0px;     
}

.space-equally{
    width: 50%;
    text-align: center;
    margin-right: 0px;
}