@import '~app/styles/variables/index';

.montage-finish-mode {
  margin-top: 50px;

  .montage-finish-card {
    background-color: $white;
    max-width: 452px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 9px 0 $shadows;

    .montage-finish-card-image {
      img {
        width: 100%;
      }
    }

    .montage-finish-card-title {
      margin-top: 21px;
      font-family: $secondary-font;
      font-size: 20px;
      font-weight: 500;
      color: $lightHeadedAstronaut;
      line-height: 1.45;
      text-align: center;
    }

    .montage-finish-card-subtitle {
      margin-top: 7px;
      font-family: $primary-font;
      font-size: 9px;
      font-weight: 700;
      line-height: 1.33;
      letter-spacing: 2px;
      text-align: center;
      color: $lightHeadedAstronaut;
    }
  }

  .montage-finish-mode-actions {
    margin-top: 32px;

    .montage-finish-mode-actions-separator {
      margin: 0 20px;
      height: inherit;
      border-left: 1px dashed $hawkesBlue;
    }

    .btn {
      margin: 20px 15px 0;

      &.download {
        padding: 12px;
      }
    }
  }
}
