@import '~app/styles/bootstrap/common';
@import '~app/styles/variables/index';

.quest-step-module-header {
  margin-bottom: 20px;

  .quest-step-module-title-container {
    padding: 20px 0;
    border-top: 1px solid $hawkesBlue;
    border-bottom: 1px solid $hawkesBlue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .quest-step-module-title {
      font-family: $secondary-font;
      font-size: 24px;
      color: $lightHeadedAstronaut;
    }

    .quest-complete-checkbox {
      min-width: 40px;
      min-height: 40px;
    }
  }

  .quest-step-module-mobile-title-container {
    display: none;
  }

  .quest-step-module-instructions {
    margin-top: 20px;
    font-family: $secondary-font;
    font-size: 19px;
    line-height: 1.5;
    color: $raven;
  }
}

@include media-breakpoint-down(sm) {
  .quest-step-module-header {
    .quest-step-module-title-container {
      .quest-complete-checkbox {
        display: none;
      }
    }

    .quest-step-module-mobile-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .quest-step-module-sequence-title {
        font-family: $primary-font;
        font-size: 10px;
        color: $lightHeadedAstronaut;
        line-height: 2.2;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .quest-complete-checkbox {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;

        .icon {
          font-size: 6px;
        }
      }
    }
  }
}
