@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles/mixins/utilities.scss';

.eventHostsContainer {
  background-color: $white;
  padding: 25px;
  color: $black;
  margin-bottom: 20px;
}

.eventHostsTitle {
  padding-bottom: 25px;
  font-weight: 600;
}

.eventHostsItem {
  padding-left: 50px;
  position: relative;
}

.eventHostsItemTitle {
  text-transform: uppercase;
  font-size: 20px;
}

.eventHostsItemImage {
  @include background-image-cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 10px 25px;
  vertical-align: middle;
}

.eventHostsItemInfo {
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
}

.eventHostsItemDescription {
  font-family: $slooh-body;
  font-size: 18px;
}
