@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles/mixins/utilities.scss';

.eventDescriptionContainer {
  font-family: $slooh-body;
  font-size: 18px;
  background-color: $white;
  color: black;
}

.clickable {
  cursor: pointer;
}

.eventDescriptionPanel {
  display: flex;
  font-family: $primary-font;
  padding: 25px;

  .sharingOptionsMenu {
  }
}

.eventDescriptionPanelItemMain {
  flex: 3;
  color: black;
  min-width: 350px;
  font-size: 18px;

  .icon {
    color: $blueGreen;
    font-size: 24px;
    padding-right: 10px;
  }
  .link {
    color: $pink;
  }
}

.eventDescriptionPanelItem {
  position: relative;
  display: flex;
  align-items: flex-end;

}

.eventDescriptionContent {
  padding: 0 25px;
  font-size: 20px;
}
