@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles/mixins/utilities.scss';

.eventDescriptionContainer {
  font-family: $slooh-body;
  font-size: 18px;
  background-color: $white;
  color: black;
}

.clickable {
  cursor: pointer;
}

.eventDescriptionPanel {
  font-family: $primary-font;
  padding: 25px;

  .sharingOptionsMenu {
    float: right;
  }
}

.eventDescriptionPanelItemMain {
  color: black;
  display: inline-block;
  min-width: 350px;
  font-size: 18px;

  .icon {
    color: $blueGreen;
    font-size: 24px;
    padding-right: 10px;
  }
  .link {
    color: $pink;
  }
}

.eventDescriptionPanelItem {
  position: relative;
  display: flex;
  align-items: flex-end;

  .likeText {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 10px;
  }

  .heart {
    vertical-align: middle;
  }
}

.eventDescriptionContent {
  padding: 0 25px;
  font-size: 20px;
}
