@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .Quest-map  {
    width: 100%;
    height: calc(40vw);
    // height:800px;
    // background: url('https://vega.slooh.com/assets/v4/dashboard-new/objectmap/slooh-quest-map-1.png');
    // background-color: #111;
    border-radius: 8px;
    
}

.new-dash .controls-div{
    display: flex;
    flex-wrap: wrap;
    // margin: 12px 0px;
}

.new-dash .svg-layer path:hover {
    opacity: 0.1;
}

.new-dash .settings-dropdown .control-label{
    line-height: normal !important;
}

.new-dash .dropdown-control-div{
    background-color: #111111;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;   
    padding: 10px 15px;   
    margin: 10px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-dash .Quest-map-fullscreen{
    width: 100%;
    height: calc(90vh);
    border-radius: 8px;
}

.new-dash .select-label{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

.new-dash .controls{
    display: flex;
    flex-direction: row;
    align-items: center;    
    flex: 1;
    margin-right: 24px;
}

.new-dash .setting-icons{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.new-dash .separator-line{
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 52.08%,hsla(0,0%,100%,0));
    width: 2px;
    height: auto;
    margin: 5px 5px;
}

.new-dash .settings-controls{
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: 30%;
    // flex: 0.2;
    justify-content: space-around;   
    padding: 10px 15px;
    background-color: #111111;
    border-radius: 8px;
    margin: 0px;
}

.new-dash .title-main{
    padding: 24px 0px;
}

.new-dash .title-heading{
    /* position: absolute;       
    top: 96px;     */
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    
    color: #FFFFFF;
}

.new-dash .title-subHeading{
    /* position: absolute;    
    top: 134px; */
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  
    color: #BDBDBD;
     
}

.new-dash .map-container{
    position: relative;
}

.new-dash .settings-dropdown{
    button{
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0px !important;
    }    
}

.new-dash .popup{
    position: absolute;
    width: 80%;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.new-dash .hover-popup {
    position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        bottom: 10px;
        left: -10px;            
        width: 150px;
}

.new-dash .hover-popup:after, .new-dash .hover-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.new-dash .popup-text{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  
    color: #253446;
}

//   .new-dash .hover-popup:after {
//     border-top-color: white;
//     border-width: 10px;
//     // left: 48px;
//     // margin-left: -10px;
//   }

  .new-dash .hover-popup:before {
    border-top-color: white;
    border-width: 6px;
    // left: 48px;
    // margin-left: -11px;
  }

@media (min-width: $screenXLarge) {
    .new-dash .title-main{
        padding: 16px 0px;
    }    
    .new-dash .title-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
    }
    
    .new-dash .title-subHeading{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;      
        color: #BDBDBD;         
    }
    .new-dash .Quest-map  {
        height: calc(45vw);  
    }

    .new-dash .dropdown-control-div{
        width: 72%;
        margin-right: 10px;
    }

    .new-dash .settings-controls{
        width: 25%;
        margin: 10px 0px;
    }

    .new-dash .Quest-map-fullscreen{       
        height: calc(95vh);        
    }

    // .new-dash .popup{
    //     top: 7%;
    // }
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .title-main{
        padding: 16px 0px;
    }    
    .new-dash .title-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
    }
    
    .new-dash .title-subHeading{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;      
        color: #BDBDBD;         
    }
    .new-dash .Quest-map  {
        height: calc(36.7vw) ;  
    }

    .new-dash .settings-controls{
        width: 40%;
        margin: 0px;
    }
    // .new-dash .popup{
    //     top: 2%;
    // }
}

@media (min-width: $screenMobile) and (max-width: $screenTab){
    
    .new-dash .Quest-map  {
        height: calc(60vw) ;  
    }
    .new-dash .settings-controls{
        width: 60%;        
    }

    .new-dash .popup {
        width: 100%;
    }
}
