.viewable-object {
  min-height: 180px;
  width: 20%;
  float: left;
  position: relative;;

  .title {
    text-transform: uppercase;
    font-size: 1.5em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
}
