@import '../../../styles/mixins/utilities.scss';

.viewable-object {
  float: left;
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 180px;
  @include border-radius(50%);

  .title {
    text-transform: uppercase;
    font-size: 1.5em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  .viewableObjectLink {
    color: white;
  }
}
