@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";
@import "../../styles/mixins/utilities.scss";

.publish-post-list {
 @media(min-width:768px){
   padding: 40px 185px;
 }
  background: $slooh-white;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;

  & > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid $blueGreen;
    padding: 35px 0;

    &:last-child {
      border-bottom: 0;
      flex-direction: row;
      justify-content: center;
    }
  }

  .number {
    @include number;
  }

  .description {
    margin: 10px auto;

    .param {
      font-weight: normal;
    }
  }

  .select-object-category-and-topic-wrapper {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    padding-top: 20px;

    .select-object-category,
    .select-object-topic {
      flex: 1 0 45%;
    }
  }

  .btn-primary {
    &.cancel-btn {
      background: $slooh-black;
    }
  }
}
