.main-info {
  background: #fff;
  padding: 0 2em;
}
.appPlan.card {
  background: #253446;
  width: 300px;
  margin-bottom: 10px;
  height: 300px;
  padding: 40px;
}

.appPlan .card-title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
.appPlan .card-subtitle {
  color: #fff;
}
.appPlan .card-text {
  color: #fff;
  padding: 5px 0;
}
.view-plan {
  position: relative;
}
.view-plan button {
  background: none;
  color: #000;
  font-size: 16px;
  border: none;
}


button.submit-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  padding: 10px 20px;
  color: white;
  background-color: #415671;
  text-align: left;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  font-family: Brandon Grotesque;
}

button.submit-button:focus {
  outline: none;
}

.payment-way {
  display: flex;
  justify-content: space-evenly;
}

.totalCost span {
  float: right;
  font-weight: bold;
}

.formSectionName {
  display: flex;
  flex-direction: row;
}

.form-error {
  display: inline-block;
  color: red;
  font-weight: bold;
}

.payment-instruct {
  padding: 10px 0;
}

.payment-instruct ul {
  padding-inline-start: 1em;
}

.payment-instruct ul li {
  color: #253446;
}

button.btn.btn-dark img {
  width: 30px;
}


.btn.btn-dark.btn-black {
  background: #000000;
  border: none;
  width: 150px;
  height: 50px;
}
.btn.btn-dark.btn-ppal {
  background: #0091d5;
  border: none;
  width: 150px;
  height: 40px;
}
.payment-instruct p {
  color: #253446;
  font-family: sans-serif;
}
.payment-dateSec span {
  float: right;
}

.btn.btn-dark.btn-black {
  background: #000000;
  border: none;
  width: 150px;
  height: 50px;
}

.btn.btn-dark.btn-ppal {
  background: #0091d5;
  border: none;
  width: 150px;
  height: 50px;
}
