@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';
@import '../../styles/mixins/utilities.scss';

.viewerVideoDetailsRoot {
  padding: 0;
  margin: 0;

  .title {
    font-size: 14px;
    color: $darkBlueGray;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }

  .videoTitle {
    color: $turqoise;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .videoDescription {
    font-family: $secondary-font;
    margin-bottom: 15px;

    p {
      color: darkBlueGray;
      font-size: 18px;
    }
  }

  .hostedByContainer {

    .hostedByTitle {
      color: $darkBlueGray;
      font-weight: 300;
      margin-bottom: 15px;
    }

    .hostDetail {
      display: flex;

      .profilePicture {
        @include background-image-cover;
        @include border-radius(50%);
        display: block;
        width: 45px;
        height: 45px;
        background-image: url(../../../assets/images/photos/people/lucie-green.png);
      }

      .profileName {
        color: $light-black;
        padding: 10px 0 0 10px;
        margin-bottom: 30px;

        .profileNameGuestStatus {
          color: $red;
          font-size: 12px;
          padding-left: 10px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}
