@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .object-main{
    padding: 24px 0px;
}

.new-dash .object-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;    
    margin-bottom: 10px;
    color: #FFFFFF;
}

.new-dash .object-icon{
    margin: 2px;
}

.new-dash .object-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-dash .object-item{
    width: 65px;
    cursor: pointer;    
}

.new-dash .objecticonContainer{
    /* position: absolute; */
    width: 56px;
    height: 56px;
    /* left: 715px;
    top: 423px; */
    margin: 5px;
    display: flex;
    justify-content: center;
    background: linear-gradient(136.67deg, #32465E -1.54%, #253446 101.54%);
    border: 4px solid #111D30;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px rgba(194, 160, 104, 0.25);
    border-radius: 50%;
}


.new-dash .object-name{
    
    /* position: absolute;
    width: 51px;
    height: 19px;
    left: 718px;
    top: 711px;
     */
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    
    color: #FFFFFF;
}

.new-dash .object-gp{
    /* position: absolute;
    width: 33px;
    height: 14px;
    left: 727px;
    top: 731px; */

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #868686;
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .objecticonContainer{
        width: 48px;
        height: 48px;
    }

    .new-dash .object-item{
        width: 56px;    
    }

    .new-dash .object-heading{
        font-size: 14px;
        line-height: 16px;  
    }

    .new-dash .object-name{
        font-size: 14px;
        line-height: 17px;
    }
}

@media (min-width: $screenMobile) and (max-width: $screenTab){

    .new-dash .object-main {
        padding: 24px 0px 0px 0px;
    }

    .new-dash .object-heading {
        font-size: 16px;
        line-height: 20px;
    }

    .new-dash .objecticonContainer {
        width: 35px;
        height: 35px;
    }
    .new-dash .object-name {
        font-size: 12px;
        line-height: 16px;
    }
    .new-dash .object-item {
        width: 55px;
    }
}