.upcoming-mission-card{
    padding: 1.5em;    
    background: #202D3D;
    border-radius: 8px; 
    margin-right: 15px;
    margin-bottom: 10px;
    width: 200px;
}

.upcoming-time{
   
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */

    color: #B2B2B2;

}

.upcoming-telescope{   
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    /* #FFF - Text */
    color: #FFFFFF;
}

.upcoming-obj-name{
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* #FFF - Text */

    color: #FFFFFF;   

}

.pad-top-10{
    padding-top: 10px;
}

.upcoming-mission-card-head{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.card-options{
    height: fit-content;    
    margin-bottom: .5rem;
}

.mar-left-10{
    margin-left: 15px;
}

.mar-top-2{
    margin-top: 2px;
}

.vertical-middle{
    align-items: center;    
}