@import "~app/styles/variables/colors.scss";
@import "~app/styles/variables/media-queries.scss";

.getting-started-wrapper {
  .quest-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .quest-list-item {
      margin: 50px 0 50px;

      &:last-child {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }


    @include sm-low {
      justify-content: center;
    }
  }

  .quest-help-text {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
  }
}
