/** SLOOH CSS **/


/* VARIABLES: COLOR 
 * */

$slooh-white: rgb(255, 255, 255);
$slooh-primary-xxlight: rgb(255, 15, 190);
$slooh-primary-xlight: rgb(250, 15, 180);
$slooh-primary-light: rgb(220, 15, 160);
$slooh-primary: rgb(210, 15, 150);
$slooh-primary-dark: rgb(200, 15, 140);
$slooh-primary-xdark: rgb(190, 15, 130);
$slooh-primary-xxdark: rgb(180, 15, 120);
$slooh-gray-xxlight: rgb(185, 217, 217);
$slooh-gray-xlight: rgb(127, 132, 154);
$slooh-gray-light: rgb(146, 151, 170);
$slooh-gray: rgb(110, 117, 146);
$slooh-gray-dark: rgb(91, 96, 114);
$slooh-gray-xdark: rgb(68, 73, 90);
$slooh-gray-xxdark: rgb(49, 54, 69);
$slooh-blue-dark: rgb(20, 27, 57);
$slooh-black: rgb(1, 7, 23);

/* VARIABLES: Typefaces 
 * */

$slooh-headers:  "Brandon Grotesque", sans-serif;
$slooh-body: "Brandon Grotesque", sans-serif;

/* MIXINS 
 * */

@function calculateRem($size) {
    $remSize: $size / 12px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../assets/fonts/BrandonGrotesque-Thin.otf')  format('opentype');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
	}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../assets/fonts/BrandonGrotesque-Light.otf')  format('opentype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
	}


@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../assets/fonts/BrandonGrotesque-Regular.otf')  format('opentype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
	}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../assets/fonts/BrandonGrotesque-Medium.otf')  format('opentype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
	}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../assets/fonts/BrandonGrotesque-Bold.otf')  format('opentype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
	}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('../assets/fonts/BrandonGrotesque-black.otf')  format('opentype');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
	}



/* CSS Universal Transition by Jason CranfordTeague | www.cranforteague.com */

:link,
:visited,
:hover,
:active,
:focus {
    @include transition(color .2s linear, background-color .2s linear, border-color .2s linear, opacity .2s linear, box-shadow .2s linear);
}

body#slooh {
    background: url(../images/photos/stellar-community-low.jpg) $slooh-white center no-repeat fixed;
    background-size: cover;
    color: $slooh-gray-xlight;
    font-family: $slooh-body;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .02em;
}

body#slooh.plans {
    background-repeat: repeat-x;
    background-size: 100% 520px;
    background-position: top center;
}

body#slooh.payment {
    background-repeat: repeat-x;
    background-size: 100% 180px;
    background-position: top center
}

#slooh {
    #stage {
        max-width: 950px;
        overflow: visible;
    }
    #pop1 {
        display: none;
        left: 450px;
        top: 350px;
    }
    #join {
        margin: 0 auto;
        max-width: 700px;
        text-align: center;
    }
    .clearfix {
        clear: both;
    }
    .backdrop.light {
        color: $slooh-white;
        border-color: $slooh-gray-xxlight;
        border-radius: 8px;
        box-shadow: none;
        position: relative;
    }
    .dark {
        color: rgba($slooh-black, .7);
        border-color: rgba($slooh-black, .7);
    }
    .white {
        color: $slooh-white;
    }
    .shadow {
        border: none;
        box-shadow: 0 13px 25px rgba($slooh-black, .4);
        height: 1 !important;
        margin-left: -5%;
        padding: 0;
        overflow: hidden;
        width: 110%;
    }
    .plans {
        height: 710px;
        position: relative;
        top: 65px;
    }
    .left {
        text-align: left;
    }
    .info-white {
        background: url(../icons/info-white.svg);
        cursor: help;
    }
    .close {
        background: url(../icons/close-1.svg);
        cursor: pointer;
    }
    .half-width {
        width: 50%;
    }
    .move-up {
        overflow: visible;
        position: relative;
        top: -30px;
    }
    .continue {
        display: block;
        @include font-size(18px);
        font-weight: 500;
        height: 50px;
        margin: 0 auto;
        padding: 1em 1.5em;
        position: relative;
        z-index: 0;
    }
    .icon {
        fill: white;
        width: 26px;
        margin: 0 auto;
        list-style: decimal-leading-zero;
    }
    .icon.control {
        color: $slooh-black !important;
        display: inline-block;
        height: 15px;
        @include opacity(1);
        overflow: hidden;
        position: absolute;
        right: 5px;
        text-indent: 50px;
        top: 5px;
        width: 15px;
        z-index: 999;
    }
    .control {
    }
    .control:hover {
        @include opacity(1);
    }
    .backdrop {
        @include border-radius(20px);
        box-shadow: 0 0 10px rgba($slooh-blue-dark, .6);
        color: $slooh-white;
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: 100%;
    }
    .backdrop:hover {
        box-shadow: 0 0 10px rgba($slooh-blue-dark, .8);
    }
    .backdrop.light {
        background-color: $slooh-white;
        color: rgba($slooh-gray-dark, 1);
    }
    .backdrop.dark {
        background-color: rgba($slooh-black, .7);
        color: $slooh-white;
    }
    .backdrop.med {
        background-color: $slooh-gray-xdark;
        color: $slooh-white;
    }
    .border-top {
        border-top: 1px solid $slooh-gray-xxlight;
        width: 100%;
    }
    .border-dark-top {
        border-top: 2px solid $slooh-black;
        width: 100%;
    }
    .border-dark-bottom {
        border-bottom: 2px solid $slooh-black;
        width: 100%;
    }
    .border-bottom {
        border-bottom: 1px solid $slooh-gray-xxlight;
        width: 100%
    }
    .border-right {
        border-right: 1px solid $slooh-gray-xxlight;
        height: 100%;
        vertical-align: middle;
    }
    .border-dark-right {
        border-right: 1px solid $slooh-black;
        height: 100%;
    }
    .border-dark-left {
        border-left: 2px solid $slooh-black;
        height: 100%;
        left: -1px;
    }
    .border-left {
        border-left: 1px solid $slooh-gray-xxlight;
        height: 100%;
        left: -1px;
    }
    .divider,
    .divider-img {
        display: block;
        font-weight: 200;
        padding: 0;
        white-space: nowrap;
        width: auto;
    }
    .divider-img {
        background-size: contain;
        font-size: 1.5em;
        width: 100%;
    }
    .divider:before,
    .divider:after {
        border-bottom: 1px solid $slooh-gray-xxdark;
        display: inline;
        position: relative;
        top: .6em;
        width: 20%;
        content: ""
    }
    .divider:before {
        float: left;
    }
    .divider:after {
        float: right;
    }
    .divider-img {
        background: url(../chrome/line-1.png) transparent no-repeat center center;
    }
    .popup-message {
        background-color: $slooh-white;
        @include border-radius(8px);
        box-shadow: 0 2 4 rgba($slooh-gray-light, .4);
        color: rgba($slooh-gray-light, 1);
        display: block;
        font-size: 11px;
        left: 0;
        padding: 15px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 210px;
        z-index: 9999;
    }
    .popup-message footer {
        border-top: solid 1px rgba($slooh-black, .1);
        margin-top: 5px;
        padding-top: 5px;
        text-align: center;
    }
    .passwordstrength {
        font-size: 36px;
        position: absolute;
        right: -.4em;
        top: .25em;
        width: 5px;
        text-align: left;
        padding: 0;
        margin: 0;
    }
    .passwordstrength span {
        display: block;
        line-height: .35;
        margin: 0;
        @include opacity(0.6);
        padding: 0;
    }
    .col-md-4 {
        float: left;
        margin-left: 20px;
        position: relative;
        width: 215px;
    }
    #slooh.welcome header {
        height: 5em;
        overflow: visible;
        position: relative;
        top: 25px;
        vertical-align: middle;
    }
    .spotlight-icon {
        background-color: $slooh-white;
        @include border-radius(50%);
        box-shadow: 0 0 10px $slooh-black;
        height: 65px;
        line-height: 0;
        margin: 0 auto;
        padding: 15px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 65px;
        z-index: 999;
    }
    .spotlight-icon img {
        @include opacity(0.8);
    }
    .not {
        color: rgba($slooh-blue-dark, 1) !important;
        padding-left: 20px !important;
    }
    .not:before {
        background: url(../icons/not.svg) transparent top right no-repeat;
        background-size: cover;
        content: "";
        height: 10px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 8px;
        width: 10px;
        z-index: 99999;
    }
    .background-page {
        background-color: $slooh-white;
        padding-top: 4rem;
    }
    .sloohlogo {
        color: transparent;
        font-size: 0;
        font-weight: 0;
        margin: 3rem auto;
        padding: 0;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 80%;
        img {
            height: 25px;
            position: relative;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            line-height: 0;
        }
    }
    .sloohlogo.crosspromo {
        height: 50px;
    }
    .contrast-shadow {
        text-shadow: 0 0 8px $slooh-black, 2px 2px 8px $slooh-black, -2px -2px 8px $slooh-black, 2px -2px 12px $slooh-black, -2px 2px 8px $slooh-black;
        padding: 4px 0;
    }
    .break-box {
        overflow: visible;
        position: relative;
    }
    .move-down {
        position: relative;
        top: 30px;
        z-index: 99;
    }
    .message {
        display: none;
    }
    .price sup {
        font-size: .5em;
        padding-right: .25em;
        vertical-align: 0;
    }
    .vertical-center {
        height: 100%;
        line-height: 5.8em;
    }
    .center-center {
        height: auto;
        line-height: 5.8em;
        text-align: center;
    }
    .center {
        clear: both;
        margin: inherit auto;
        text-align: center;
    }
    .info-block-quarter {
        float: left;
        height: 100%;
        width: 25%;
    }
    .info-block-row {
        height: 80px
    }
    .info-block-row-double {
        height: 160px
    }
    .info-block-half {
        float: left;
        height: 100%;
        vertical-align: middle;
        width: 50%;
    }
    .info-block-2third {
        float: left;
        height: 100%;
        width: 66%;
    }
    .info-block-third {
        float: left;
        height: 100%;
        width: 34%;
    }
    .text-capitalize {
        text-transform: uppercase;
    }
    .text-huge {
        @include font-size(72px)
    }
    .text-xxlarge {
        @include font-size(48px)
    }
    .text-xlarge {
        @include font-size(36px)
    }
    .text-large {
        @include font-size(24px)
    }
    .text-medium {
        @include font-size(18px)
    }
    .text-regular {
        @include font-size(16px)
    }
    .text-small {
        @include font-size(14px)
    }
    .text-xsmall {
        @include font-size(12px)
    }
    .text-xxsmall {
        @include font-size(10px)
    }
    .text-tiny {
        @include font-size(8px)
    }
    .margin-top-xxlarge {
        margin-top: 90px
    }
    .margin-top-xlarge {
        margin-top: 60px
    }
    .margin-top-large {
        margin-top: 40px;
    }
    .margin-top-med {
        margin-top: 30px
    }
    .margin-top-reg {
        margin-top: 20px
    }
    .margin-bottom-xxlarge {
        margin-bottom: 90px
    }
    .margin-bottom-xlarge {
        margin-bottom: 60px
    }
    .margin-bottom-large {
        margin-bottom: 40px
    }
    .margin-bottom-med {
        margin-bottom: 30px
    }
    .margin-bottom-reg {
        margin-bottom: 20px;
    }
    .margin-left-xxlarge {
        margin-left: 40px;
    }
    .margin-left-xlarge {
        margin-left: 30px;
    }
    .margin-left-large {
        margin-left: 20px;
    }
    .margin-left-med {
        margin-left: 10px;
    }
    .margin-left-reg {
        margin-left: 5px;
    }
    .margin-right-xxlarge {
        margin-right: 30px;
    }
    .margin-right-xlarge {
        margin-right: 30px;
    }
    .margin-right-large {
        margin-right: 20px;
    }
    .margin-right-med {
        margin-right: 15px;
    }
    .half-width-margin {
        width: 45%;
        margin-right: 5%;
        float: left;
    }
    .fifth-width-margin {
        width: 16%;
        margin-right: 3%;
        float: left;
    }
    .half-width-margin:last-of-kind {
        width: 45%;
        margin-right: 5%
    }
    .padding-xxlarge {
        padding: 55px;
    }
    .padding-xlarge {
        padding: 40px;
    }
    .padding-tb-reg {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .padding-tb-xlarge {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .padding-med {
        padding: 20px;
    }
    .padding-reg {
        padding: 10px;
    }
    .padding-small {
        padding: 5px;
    }
    .padding-right-med {
        padding-right: 15px;
    }
    .padding-left-med {
        padding-right: 15px;
    }
    .padding-lr-xxlarge {
        padding-left: 60px;
        padding-right: 60px;
    }
    .padding-lr-xlarge {
        padding-left: 40px;
        padding-right: 40px;
    }
    button.sign-in {
        float: left;
        font-size: 12px;
        height: 40px;
        margin-left: 9px;
        width: 100px;
    }
    .control-close {
        height: 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
    }
    section {
        margin: 0 auto;
        position: relative;
        height: auto;
        overflow: auto;
    }
    article {
        clear: both;
        overflow: auto;
    }
    header.page {
        clear: both;
        display: block;
        height: auto;
        margin: 50px 0;
        padding: 0;
        text-align: center;
        top: 0;
        vertical-align: middle;
        width: 100%;
    }
    header p {
        color: $slooh-white;
        font-size: 16px;
        font-weight: 400;
        margin: 1em auto;
    }
    footer {
        overflow: auto;
    }
    footer.page {
        @include font-size(18px);
        text-align: center;
        width: 100%;
    }
    h1 {
        height: auto;
        letter-spacing: .03em;
        font-family: $slooh-headers;
        font-weight: 300;
        font-size: 2.5rem;
        margin: 0;
        padding: .1em;
        overflow: auto;
        height: auto;
    }
    h2 {
        @extend h1;
        font-size: 2.2em;
        font-weight: 200;
        line-height: 1.3;
        margin: 0;
        padding: 0;
    }
    h3 {
        @extend h1;
        @include font-size(22px);
        font-weight: 200;
    }
    h4 {
        @extend h1;
        font-size: 1.2em;
    }
    h5 {
        @extend h1;
        font-size: 1.1em;
    }
    h6 {
        @extend h1;
        font-size: 1em;
    }
    object {
        fill: white !important;
    }
    hr {
        border-top: 1px solid $slooh-gray-xxdark;
        clear: both;
        padding: 10px 0;
        position: relative;
        top: 20px;
        height: 1em;
    }
    hr.light {
        border-top-color: $slooh-gray-xxlight;
    }
    a,
    a:link,
    a:visited {
        color: $slooh-primary-xlight;
        text-decoration: none;
    }
    a:hover {
        border-bottom: 1px solid $slooh-primary-xdark;
        color: $slooh-primary-xlight;
        text-decoration: none;
    }
    a:active {
        color: $slooh-primary-xdark;
    }
    ul {
        margin: 0 10px;
        padding: 0;
    }
    ul.features li {
        border-bottom: 1px solid $slooh-gray-xxdark;
        color: rgba($slooh-white, 1);
        list-style: none;
        padding: .5em 0 1.2em;
        text-align: left;
    }
    ul li:last-of-type {
        border-bottom: none;
    }
    form {
        clear: both;
        text-align: left;
        fieldset,
        fieldset input {
            position: relative;
        }
        fieldset.required:before,
        fieldset.required:after {
            background-size: cover;
            height: 30px;
            right: 10px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 20px;
            z-index: 99999;
        }
        fieldset.required:before {
            background: url(../icons/check.svg) transparent top right no-repeat;
            content: "";
            visibility: hidden;
        }
        fieldset.required:after {
            background: url(../icons/warning.svg)transparent top right no-repeat;
            content: "";
            display: block;
            visibility: hidden;
        }
        label {
            display: block;
            font-size: 1.1em;
            font-weight: 200;
            letter-spacing: .05em;
            text-align: left;
        }
        input,
        select {
            border: none;
            box-shadow: inset 0 0 6px rgba($slooh-black, .4);
            @include opacity(0.4);
            z-index: 0;
        }
        
        input.input-lg,
        select.input-lg {    
            height: 40px;
            padding: 10px 16px;
            border-radius: 4px;
        }
        
        input[type="radio"] {
            margin-right: .8em;
            vertical-align: text;
        }
        input:hover {
            @include opacity(0.8);
        }
        input:focus {
            @include opacity(1);
        }
        input:active {
            @include opacity(0.8);
        }
        button {
            font-size: 1.75em;
            font-weight: 700;
            margin: 1em 0;
            padding: .5em 2em;
        }
        .required label:before {
            color: $slooh-primary;
            content: "*";
            margin-left: -.5em;
            margin-right: .25em;
        }
        .required input {
            padding-right: 1.8em;
        }
    }
    button {
        border: none;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        overflow: visible;
        padding: .8em 1em;
    }
    button.btn-primary {
        background: $slooh-primary-xdark;
        border: 1px solid rgba($slooh-primary-xxdark, 100);
        box-shadow: inset 0 0 10px rgba($slooh-primary-xxdark, 1);
        font-weight: 400;
        @include font-size(16px);
        height: 40px;
        padding: 0 3em;
    }
    button.btn-primary:hover {
        background: $slooh-primary-xlight;
    }
    button:hover {
        @include opacity(1);
    }
    p,
    li {
        font-size: 12px;
        letter-spacing: .05em;
        margin: .5em auto;
        position: relative;
    }
    div {
        position: relative;
        font-size: 12px;
    }
    em {
        color: deeppink;
        font-style: normal;
    }
    i.caution {
        background: url(../icons/warning.svg) transparent top right no-repeat;
        display: inline-block;
        height: 15px;
        margin-left: 8px;
        position: relative;
        vertical-align: text-top;
        width: 15px;
    }
    i.close {
        background: url(../icons/close-1.svg) transparent top right no-repeat;
        display: inline-block;
        height: 25px;
        opacity: 1;
        position: relative;
        right: 10px;
        top: 10px;
        vertical-align: text-top;
        width: 25px;
    }
}

.margin-top-small {
    margin-top: 8px;
}

.spacer-huge {
    clear: both;
    content: "";
    height: 20px;
    overflow: auto;
    width: 100%;
}



.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.sec-med {
    width: 545px;
}

.col-md-3 {
    width: 230px;
}
