@import '../../styles/mixins/utilities.scss';
@import '../../styles/variables/colors.scss';

.photoRoot {
  position: relative;
  .photoLink {
    @include aspect-ratio(1.46, 1);
    @include background-image-cover;

    background-position: center;
    margin-bottom: 20px;
    display: block;
    border: 4px solid transparent;

    &:hover {
      border: 4px solid $pink;
      .innerPhotoContainer {
        opacity: 1;
      }
    }
  }

  .innerPhotoContainer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: $white;
    padding: 20px;
    @media(max-width:1024px){
      padding:10px;
    }
    opacity: 0;
   @media(max-width:767px){
     div{
       font-size:9px;
     }
   }
  }

  .photoTitle {
    color: $white;
    line-height: 1.2;
    margin-bottom: 10px;
    @media(max-width:1024px){
      font-size:18px;
    }
  }

}

.photoMenu {
  list-style-type: none;
  position: absolute !important;
  right: 20px;
  bottom: 25px;
}
