@import '../../styles/variables/fonts';
@import '../../styles/variables/colors';
@import '../../styles/mixins/utilities';

.DiscussionsHeader {
  @include header;

  .title-container {
    font-weight: 400;

    &.center {
      margin: 0 auto;
    }
  }

  .button-nav {
    min-width: 115px;
  }
}

.DiscussionReplyForm {
  text-align: center;
}
