@import "../../styles/variables/colors";

.table-row {
  display: flex;

  .cell {
    flex: 0 0 50%;

    &:first-child {
      padding-left: 14%;
    }

    &:last-child {
      text-align: center;
    }
  }
}

.forums-index {
  &-wrapper {
    position: relative;
    margin-top: 56px;
  }

  &-header {
    background: $turqoise;
    border-bottom: 4px solid $darkBlueGray;
    font-size: 22px;
    color: $slooh-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px 0;

    .description {
      font-size: 14px;
      font-weight: normal;
    }
  }

  &-sub-header {
    display: flex;
    text-transform: uppercase;
    border-bottom: 2px solid $light-gray;
    color: $darkBlueGray;
    padding: 18px 25px 6px;
    font-weight: bold;
    @extend .table-row;
  }

  &-list {
    list-style: none;
    padding: 0 25px;

    .forums-link {
      padding: 7px 0;
      margin: 4px auto;
      border-radius: 100px;
      color: $darkBlueGray;
      cursor: pointer;
      @extend .table-row;

      &:hover, &.highlight {
        background: $turqoise;
        color: $white;

        .topic {
          color: inherit;
        }
      }

      .topic {
        color: $pink;
      }
    }
  }
}
