@import '../styles/mixins/utilities.scss';

.homeContainer {
  @include background-image-cover;
  background-position: center;
  background-image: url(https://vega.slooh.com/assets/images/graphics/blurry-way.jpg);
  background-repeat: no-repeat;
}
