.profile-groups {
  margin-top: 10px;

  .club-btn {
    margin: 10px 0 0 10px;
  }

  .profile-groups-container {
    .navigation-wrapper {
      div {
        .group-tiles-root {
          margin-top: 0;
        }
      }
    }
  }
}
