@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";

.universalTime {
  text-align: right;
  color: $light-gray;

  .time {
    color: #fff;
  }
  .time-action {
    color: $pink;
    font-size: 12px;
  }
}


.sponsored {
  max-width:300px;
  background: rgba(31, 31, 31, 0.80);
  color: $white;
  &.white{
    background: $white;
    color: $turqoise;
  }
  text-align: center;
  margin:0px auto 20px;
  font-size:14px;
  padding:10px;
  img{
    display:block; margin:10px auto 0px;
  }
}
