@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";

.universalTime {
  text-align: right;
  color: $light-gray;

  .time {
    color: #fff;
  }
  .time-action {
    color: $pink;
    font-size: 12px;
  }
}

.sponsored {
  text-align: right;
  margin-right: 30px;
  color: $turqoise;
}
