@import "../../styles/variables/colors.scss";

.universalTime {
  text-align: right;
  color: $light-gray;

  .time {
    color: #fff;
  }
  .time-action {
    color: $pink;
    font-size: 12px;
  }
}
