@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/layout.scss";

.slooh-global-footer {
  font-family: $primary-font;
  font-size: 0.75em;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  background: #000;
  position: relative;
  z-index: 999;
}
