@import '~app/styles/bootstrap/common';

.animation-module {
  .animation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: $black;
    color: $romance;

    > div {
      width: 100%;
    }

    h6 {
      font-family: $primary-font;
      font-size: 10px;
      line-height: 22px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    h4 {
      font-family: $secondary-font;
      font-size: 18px;
      line-height: 29px;
    }
  }
}
