@import '~app/styles/variables/index';

.reservation-constellation {
  &.constellation {
    background-color: $romance;
    padding: 20px 0 0;
  }

  .constellation-setup {
    .steps {
      margin: 20px 0 -40px;
    }

    .setup-header {
      padding: 0 40px;
    }
  }
}
