@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.missionModal {
  font-family: $primary-font;

  .modal-content {
    text-align: center;
    border-radius: 0;
  }

  .modal-header {
    border-bottom: none;
    padding: 0;

    .title {
      font-family: $secondary-font;
      font-size: 48px;
      color: #9B9B9B;
      margin: 0 0 20px 0;
      text-transform: capitalize;
    }

    .title-secondary {
      color: $darkBlueGray;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .mission-title {
      color: $black;
      font-size: 24px;
      font-weight: 800;
      margin: 0;
    }
  }

  .mission-name {
    margin-bottom: 20px;
    h4 {
      font-size: 24px;
      color: #000;
      font-weight: bold;
    }
    p {
      color: #3C4A55;
      font-size: 18px;
    }
  }

  .mission-schedule {
    h4 {
      text-transform: uppercase;
      color: #3C4A55;
      font-size: 14px;
    }

    p {
      color: #3C4A55;
      font-size: 18px;
    }
  }

  .modal-footer {
    border-top: 0;
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 0 20px 0;

    .btn-primary {
      width: 150px;
    }
  }
}

.reserveMissionModal {
  .title-bar {
    background: #000;
    h3 {
      margin: 0;
      padding: 10px 0;
      color: #B9D9D9;
      font-size: 14px;
    }
  }

  .modal-body > div {
    margin-bottom: 35px;
  }

  h4 {
    color: #3C4A55;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  .share-objectives {

    .mission-objectives {
      width: 90%;
      border: 1px solid #979797;
      padding: 10px 10px 20px 10px;
      font-family: $secondary-font;
      font-size: 14px;
    }
  }

  .mission-tags {
    .title {
      margin-bottom: 20px;
    }
  }

  .ReactTags__tag {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #999;
    padding: 4px 15px 4px 10px;
    margin: 0 8px;
    position: relative;
    .ReactTags__remove {
      display: none;
      position: absolute;
      right: 3px;
      cursor: pointer;
    }
    &:hover {
      .ReactTags__remove {
        display: inline-block;
      }
    }
  }

  .ReactTags__tagInput {
      margin: 15px 0;
  }

  .mission-image-options {
    label {
      margin-right: 15px;
    }

    input {
      margin-right: 5px;
      display: inline-block;
    }
  }
}

body.modal-open #app {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
