@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.missionNav {
  font-family: $primary-font;
  margin-bottom: 20px;
  display: flex;

  .mission-nav-container {
    margin: 0 auto;
    padding: 15px 0 0 0;
  }

  a {
    color: #000;
  }
  a:focus {
    text-decoration: none;
  }
  >ul {
    padding: 10px 75px;
    height: 65px;
  }
  li {
    list-style: none;
    float: left;
    height: 50%;
    &:hover > a,
    a.active {
      border-bottom: 5px solid #7EC3C4;
      color: #000;
    }
  }

  >ul>li {
    text-transform: uppercase;
    margin: 0 35px;
    position: relative;
    font-weight: bold;



    .sub-nav {
      position: absolute;
      text-transform: capitalize;
      padding: 0;
      min-width: 500px;
      left: -52px;
      top: 32px;

      li {
        float: left;
        margin: 0 3% 0 0;
        font-weight: normal;

        a {
          color: $pink;
        }

        .active {
          border: none;
          color: #000;
          font-weight: bold;
        }

        a:hover {
          color: #000;
          border: none;
        }
      }
    }
  }

  .link {
    color: #000;
    &:hover, &.active {
      color: #F310A7;
      border-bottom: 3px solid #7EC3C4;
      text-decoration: none;
    }
  }
}
