@import '../../styles/variables/fonts.scss';
@import '../../styles/variables/colors.scss';

.missionNav {
  font-family: $primary-font;
  margin-bottom: 20px;

  .mission-nav-container {
    margin: 0 auto;
    padding: 15px 0 0 0;
  }

  a {
    color: $slooh-black;
  }
  a:focus {
    text-decoration: none;
  }
  > ul.mission-nav-container {
    padding: 10px 0px;
    min-height: 65px;
    li {
      list-style: none;
      float: left;
      height: 50%;
      margin-bottom: 10px;
      a {
        @media (max-width: 767px) {
          font-size: 14px;
        }
      }
      &:hover > a,
      a.active {
        border-bottom: 5px solid $blueGreen;
        color: $slooh-black;
      }
    }
  }

  > ul > li {
    text-transform: uppercase;
    margin: 0 25px;
    position: relative;
    font-weight: bold;
  }
  .sub-nav {
    text-align: center;
    margin: -10px 0px 0px;
    padding: 0px;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 3% 0 0;

      a {
        font-size: 14px;
        font-weight: normal !important;
        color: $pink;
      }

      .active {
        border: none;
        color: #000;
        font-weight: bold;
      }

      a:hover {
        color: #000;
        border: none;
      }
    }
  }

  .link {
    color: $slooh-black;
    &:hover,
    &.active {
      color: $pink;
      border-bottom: 3px solid $blueGreen;
      text-decoration: none;
    }
  }
}
