@import '../../styles/variables/fonts.scss';
@import '../../styles/variables/colors.scss';

.missionCard {
  font-family: $primary-font;
  position: relative;

  .cardIcon path {
    fill: red;
  }
}

.missionCard.featured {

  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 0;
  margin-bottom: 10px;

  .card-content-container {
    background-image: url('../../../assets/images/graphics/Running-Man-nebula-Ngc-1977.png');
    background-repeat: no-repeat;
    background-position: left 50%;

    color: #fff;
    padding: 20px 10px 5px 150px;
  }


  h2 {
    margin-top: 0;
    font-size: 32px;
  }

  .cardsubTitle {
    overflow: hidden;
    margin: 5px 0;

    img {
      float: left;
      width: 34px;
    }

    h3 {
      float: left;
      color: #fff;
      font-size: 21px;
      font-weight: bold;
      margin: 7px;
    }
  }

  .cardDescription {
    font-family: $secondary-font;
  }

  p {
    font-size: 17px;
  }

  .join-mission-callout {
    margin: 20px 0 10px 0;
    font-size: 17px;

    h5 {
      margin: 0 0 10px 0;
    }
  }

  .callOut {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 26px;
    position: absolute;
    left: 0;
    top: 39%;
    width: 100px;
    line-height: 1;
    text-align: center;
    display: inline-block;

    .first-word {
      font-size: 20px;
    }
  }
}


.missionCard.secondary {
  text-align: center;
  background: none;
  padding: 3px;


  .card-content-container {
    background: #fff;
    height: 500px;
    cursor: pointer;
    -webkit-transition: box-shadow 0.15s ease-in;
    -moz-transition: box-shadow 0.15s ease-in;
    -o-transition: box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;

    &.card-content-container:hover {
      box-shadow: 0px 10px 20px #3c4a55;
      border: 2px solid $pink;
      margin: -2px -2px 2px -2px;

      .piggybackCta {
        background-color: #111;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  h2 {
    background: url('../../../assets/images/graphics/stripofstars.jpg') no-repeat;
    color: #fff;
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 10px;
    height: 34px;
    margin-bottom: 15px;
    background-repeat: repeat-x;
  }

  h3 {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
  }

  p {
    font-family: $secondary-font;
    color: #3C4A55;
    padding: 0 30px;
    line-height: 1.5;
  }

  .join-mission-callout {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    .mission-available {
      margin: 0;

      .title {
        font-size: 18px;
        font-weight: 300;
        margin: 0 0 5px 0;
      }

      .start-time {
        font-family: $primary-font;
        font-size: 18px;
        margin-bottom: 20px;
      }

      .hightlight {
        color: $pink;
      }
    }
  }
}

.piggybackCta {
  background: #F310A7;
  color: #fff;
  height: 40px;
  width: 170px;
  line-height: 40px;
  font-size: 13px;
  display: block;
  text-align: center;
  -webkit-transition:all 0.1s ease-in;
  -moz-transition:all 0.1s ease-in;
  -o-transition:all 0.1s ease-in;
  transition:all 0.1s ease-in;
  display: inline-block;
  margin: 0;

  &:hover {
    background-color: #111;
    color: #fff;
    text-decoration: none;
  }

  &:focus {
    color: #fff;
    text-decoration: none;
  }
}
