.missionCard.featured {
  color: #fff;
  padding: 20px 0 20px 150px;
  background: url('../../../assets/images/graphics/Running-Man-nebula-Ngc-1977.png') no-repeat left top #424242;
  height: 366px;
}

.missionCard.secondary {

}

.piggybackCta {
  background: #F310A7;
  color: #fff;
  height: 40px;
  width: 170px;
  line-height: 40px;
  font-size: 13px;
  display: block;
  text-align: center;
}
