.missionNav {
  height: 60px;
  li {
    list-style: none;
    float: left;
  }
  >ul>li {
    text-transform: uppercase;
    margin: 0 3%;
    position: relative;
    font-weight: bold;
    
    .sub-nav {
      position: absolute;
      text-transform: capitalize;
      padding: 0;
      width: 100%;
      min-width: 500px;
      left: -18%;
      top: 30px;
      li {
        float: left;
        margin: 0 3% 0 0;
        font-weight: normal;
      }
    }
  }
  
  .link {
    color: #000;
    &:hover, &.active {
      color: #F310A7;
      border-bottom: 3px solid #7EC3C4;
      text-decoration: none;
    }
  }
}
