@import '../../styles/variables/fonts.scss';

.reserveBanner {
  font-family: $primary-font;
  background: url('../../../assets/images/graphics/milkeyway_header.jpg') no-repeat;
  background-size: cover;
  min-height: 145px;
padding:20px 0px;
  @media(min-width:768px){
    padding: 20px;
  }
  position: relative;
  .title {
    //position: absolute;
    //bottom: 20px;
    //left: 0;

  }
  h1 {
    font-size:28px;
    @media(min-width:768px){
      margin-top:70px;
      font-size: 36px;
    }
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;

    float: left;
  }
}
