@import '../../styles/variables/fonts.scss';

.reserveBanner {
  font-family: $primary-font;
  background: url('../../../images/graphics/milkeyway_header.jpg') no-repeat;
  background-size: cover;
  height: 145px;
  padding: 20px;
  position: relative;
  .title {
    position: absolute;
    bottom: 20px;
    left: 0;
  }
  h1 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    float: left;
  }
}
