* {
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  padding: 0px;
  height: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: stretch;*/
  /*align-content: stretch;*/
  height: 100%;
  width: 100%;
}

main {
  order: 1;
  flex-grow: 1;
}

.main-header {
  height: 48px;
  width: 100%;
  padding: 4px;
  background-color: #DCDEE0;
  z-index: 9999;
  position: absolute;
  left: 70px;
}

.main-header #logo {
  position: absolute;
  text-indent: -9999;
  background-image: url(../images/Slooh_k.svg);
  background-position: left center;
  background-repeat: no-repeat;
  height: 40px;
  width: 156px;
  display: inline-block;
}

#upcoming {
  display: inline-block;
  height: 48px;
  margin-left: 156px;
  padding: 5px;
  width: 500px; /*why?*/
  font-size: 12px;
}

#upcoming h4 {
  margin: 0px;
  padding: 0px;
}

#upcoming p {
  margin: 0;
}

#upcoming .reminder-header {
   height: 22px;
  padding-left: 10px;
  padding-top: 6px;
}

ul.bulleted {
  list-style: disc;
  padding-left: 15px;
}

aside > nav {
  height: 100%;
  background-color: #000;
  width: 70px;
  overflow-x: hidden;
  transition: .2s ease-in-out;
  z-index: 9999;
}

aside {
  position: absolute;
   /* top: 48px; stacey changed to add hamburger */
  left: 0px;
  z-index: 5;
  height: calc(100% - 48px);
}

aside h3 {
  font-weight: normal;
  font-size: 18px;
  color: grey;
  margin: 20px 0px 5px;
}

aside h4 {
  font-weight: bold;
  font-size: 14px;
  margin: 5px 0px 0px;
}

aside time {
  font-size: 11px;
}

aside p {
  font-size: 13px;
  margin: 0px 0px 10px;
}

.left-submenu {
  position: absolute;
  left: 70px;
  top: 48px;
  width: 200px;
  height: 100%;
  max-height: 100%;
  padding: 20px;
  background-color: #ddd;
  z-index: -1;
  overflow-y: auto;
  transition-delay: 0.25s;
  transition: all 0.25s ease-in-out;
}

.left-submenu-enter {
  top: 0px;
  left: -200px;
  transition-delay: 0s;
}

.left-submenu-enter-active {
  top: 48px;
  left: 70px;
  transition-delay: 0.25s;
}

.left-submenu-leave {
  top: 48px;
  left: 70px;
  transition-delay: 0.25s;
}

.left-submenu-leave-active {
  top: 0px;
  left: -200px;
  transition-delay: 0s;
}


.left-submenu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 1.5em;
  font-size: 13px;
  margin-bottom: 10px;
}

.left-submenu a,
.left-submenu a:hover,
.left-submenu a:active,
.left-submenu a:visited {
  color: #51A7F9;
  text-decoration: none;
}

.left-submenu ul ul li {
  padding-left: 10px;
}

aside .scope_online::before {
  font-weight: bold;
  content: "\2022";
  color: #5fba7d;
  margin-right: 4px;
}
aside .scope_offline::before {
  font-weight: bold;
  content: "\2022";
  color: red;
  margin-right: 4px;
}

aside .scope_noinfo::before {  /*stacey added to left align no-info scopes*/
  font-weight: bold;
  content: "\2022";
  color: #DDD;
  margin-right: 4px;
}

aside nav button {
  appearance: normal;
  border: 0px;
  width: 70px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 28px;
  color: #FFF;
  background-color: #53585F;
}

aside nav ul {
  text-indent: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 70px;
  position: relative;
  z-index: 10;
  background-color: #000;
}

aside nav a {
  background-repeat: no-repeat;
  background-position: center 7px;
  background-size: 50%;
}

aside nav a[data-nav="nav-home"] { background-image: url(../images/nav/home.png); }
aside nav a[data-nav="nav-telescopes"] { background-image: url(../images/nav/telescopes.png); }
aside nav a[data-nav="nav-shows"] { background-image: url(../images/nav/shows.png); }
aside nav a[data-nav="nav-community"] { background-image: url(../images/nav/community.png); }
aside nav a[data-nav="nav-about"] { background-image: url(../images/nav/about.png); }
aside nav a[data-nav="nav-help"] { background-image: url(../images/nav/help.png); }
aside nav a[data-nav="nav-settings"] { background-image: url(../images/nav/settings.png); }

aside nav a,
aside nav a:hover,
aside nav a:active,
aside nav a:visited {
  font-size: 11px;
  text-align: center;
  display: block;
  line-height: 110px;
  height: 70px;
  font-family: sans-serif;
  color: #FFF;
  text-decoration: none;
  position: relative;
}

aside nav a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -70px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

aside nav a:hover::before {
  left: 0px;
}

/*sp additions*/
.upcoming-show-preview {
  width: 150px;
  height: 100px;
}

#nav-shows article {
  padding-bottom: 30px;
}

.menu {
  width: 70px;
  height: 48px;
  margin: 0;
  background: url('/assets/images/nav/open-menu.png');
}

.menu:hover { 
  cursor: pointer;
}

.menu.active {
  background: url('/assets/images/nav/close-menu.png');
}

.open-menu, .close-menu {
  width: 70px;
  height: 48px;
  margin: 0;
}

.open-menu:hover, .close-menu:hover { 
  cursor: pointer;
}

.open-menu {
  background: url('/assets/images/nav/open-menu.png');
}

.close-menu {
  background: url('/assets/images/nav/close-menu.png');
}

.obs-dayicon {
  float: left;
  margin-right: 10px;
  width: 18px;
}
.obs-status-legend {
  margin-top: 30px;
}

.menu-social {
  float: left;
  width: 42px;
  margin: 0 5px;
}

.menu-search {
  margin-top: 20px;
}

.menu-searchinput {
  font-size: 14px;
  height: 20px;
  width: 125px;
  padding: 3px;
}

.menu-searchimage {
  float: right;
  width: 22px;
}

/*login*/

.member {
  display: flex;
  float: right;
  height: 100%;
  flex-direction: row;
  .memberInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #A6AAA9;
    .messages {
      display: flex;
      margin-left: 15px;
      flex-direction: row;
      .messagesIcon {
        font-size: 20px;
        color: #000;
      }
      .count {
        display: flex;
        width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        font-size: 11px;
      }
    }
  }
  .rightButton {
    display: flex;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    background-color: #53585F;
    color: #fff;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}


$popupWidth: 400px;

.login {
  border: 1px solid silver;
  padding: 15px;
  border-radius: 5px;
  transition: all 300ms;
  h3 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .row {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  label {
    display: inline-block;
    input {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      border: 1px solid grey;
      padding: 4px;
      border-radius: 4px;
      line-height: 21px;
    }
  }
  strong {
    margin-top: 0.5rem;
  }
  button {
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid grey;
    padding: 4px;
    border-radius: 4px;
    line-height: 21px;
    font-size: 13px;
    font-weight: bold;
    background-color: #596595;
    color: #FFF;
  }
  .bottomOutside {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

