@import "~app/styles/variables/colors";
@import "~app/styles/variables/media-queries.scss";

.view-image-root {
  .carousel-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .carousel-wrapper {
      position: relative;
      width: 300px;
      height: 300px;
    }
    .carousel-image-wrapper {
      width: 300px;
      height: 300px;
      overflow: hidden;
      .carousel-image {
        width: unset;
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
      }
    }
    .slick-arrow-btn {
      border: none;
      cursor: default;
    }
    .slick-arrow-btn:not(:disabled) {
      cursor: pointer !important;
    }
    .slick-arrow-btn:disabled {
      opacity: 0.5;
    }
    .slick-arrow-btn.slick-prev {
      left: -50px;
    }
    .slick-arrow-btn.slick-next {
      right: -50px;
    }
    .slick-arrow-btn {
      width: 50px;
      height: 50px;
      transform: translate(0, -50%);
      color: #ffffff;
      cursor: default !important;
      border-radius: 50%;
      z-index: 9;
      background-color: transparent;
    }
    .slick-arrow-btn:before {
      background: url('https://vega.slooh.com/assets/v4/common/slider_arrow_blue.svg')
      0 0 no-repeat;
      content: '';
      position: absolute;
      width: 17px;
      height: 14px;
      top: 35%;
      left: 35%;
      z-index: 9;
    }
    .slick-arrow-btn.slick-next:before {
      transform: rotate(180deg);
    }
  }
}

/* === Modal wrapper === */

.view-uploaded-image-modal {
  .custom-modal {
    padding-bottom: 0;
  }
  .view-uploaded-image-title {
    margin-bottom: 25px;
    color: $lightHeadedAstronaut;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: 2px;
    text-align: center;
  }

  .modal-img-wrapper .modal-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    height: calc(100vh - 220px);
  }

  .slick-arrow-btn {
    width: 50px;
    height: 50px;
    transform: translate(0, -50%);
    color: #ffffff;
    cursor: default !important;
    border: solid 2px #e2b979;
    border-radius: 50%;
    z-index: 9;
    background-color: transparent;
    border-color: white;
  }

  .slick-arrow-btn:before {
    background: url('https://vega.slooh.com/assets/v4/common/slider_arrow_white.svg')
    0 0 no-repeat;
    content: '';
    position: absolute;
    width: 17px;
    height: 14px;
    top: 35%;
    left: 35%;
    z-index: 9;
  }
  .slick-arrow-btn:not(:disabled) {
    cursor: pointer !important;
  }

  .slick-arrow-btn.slick-prev {
    left: -65px;
  }

  .slick-arrow-btn.slick-next {
    right: -65px;
  }

  .slick-arrow-btn.slick-next:before {
    transform: rotate(180deg);
  }
  .text-center {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  .view-uploaded-image-modal.custom-modal-backdrop {
    z-index: 10060;
  }

  .view-uploaded-image-modal.modal {
    z-index: 10070;
  }

  .modal-img-wrapper {
    background-color: #fff;
    padding: 50px;
    padding-top: 25px;
    margin: auto;
    display: inline-block;
    width: 100%;
    height: calc(100vh - 120px);
  }
}

@media (max-width: $screen-md-min) {
  .view-image-root {
    .carousel-image-container {
      .carousel-wrapper {
        width: 230px;
        height: 230px;
      }
      .carousel-image-wrapper {
        width: 230px;
        height: 230px;
        .carousel-image {
          transition: width 1s;
          height: 230px;
        }
      }
    }
  }
}

/* === Modal wrapper (mobile) === */

@media (max-width: $screen-md-min) {
  .view-uploaded-image-modal {
    .modal-img-wrapper {
      padding: 10px;
    }
    .view-uploaded-image-title {
      margin-bottom: 0;
    }
    .slick-arrow-btn {
      width: 30px;
      height: 30px;
    }
    .slick-arrow-btn:before {
      width: 13px;
      height: 14px;
      top: 25%;
      left: 25%;
    }
    .slick-arrow-btn.slick-prev {
      left: -40px;
    }
    .slick-arrow-btn.slick-next {
      right: -40px;
    }
    .modal-img-wrapper .modal-img {
      height: calc(100vh - 170px);
    }
  }
}

@media (max-width: $screen-lg-min) and (min-width: $screen-md-min){
  .view-uploaded-image-modal {
    .modal-img-wrapper {
      padding: 10px;
    }
    .view-uploaded-image-title {
      margin-bottom: 5px;
    }
    .slick-arrow-btn {
      width: 30px;
      height: 30px;
    }
    .slick-arrow-btn:before {
      width: 13px;
      height: 14px;
      top: 25%;
      left: 25%;
    }
    .slick-arrow-btn.slick-prev {
      left: -40px;
    }
    .slick-arrow-btn.slick-next {
      right: -40px;
    }
    .modal-img-wrapper .modal-img {
      height: calc(100vh - 180px);
    }
  }
}