@import "../../styles/variables/colors";
@import "../../styles/variables/fonts";

.call-to-action-wrapper {
  background: linear-gradient(to bottom,  $slooh-gray-xdark 0%, $black 100%);
  color: $white;
  padding: 80px 15px 5px;

  .header {
    font-family: $slooh-headers;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    position: relative;
  }

  .cta-container {
    position: absolute;
    right: 7px;
    bottom: -10px;
  }

  .btn-primary {
    text-transform: none;
    width: 150px;

    &:first-child {
      margin-right: 5px;
    }
  }

}
