@import "../../styles/variables/colors.scss";
@import "../../styles/variables/fonts.scss";

.promo-message-band {
  font-family: $primary-font;
  background: #000;
  color: $light-blue;
  padding: 20px 0;
  margin: 0;
  text-align: center;

  .title {
    margin: 0;
    font-size: 1.75em;
    font-weight: bold;
  }
}
