@import "../../styles/variables/colors.scss";

.recent-video-tile-container {
  margin-bottom: 50px;

  .recent-video-tile {
    color: #fff;
    margin: -15px -15px 0 -15px;

    .title {
      font-weight: 300;
      font-size: 1.75em;
      padding: 15px 20px;
      text-transform: uppercase;
    }
  }

  .content {
    color: $blueGreen;
    font-size: 1em;
    margin-top: 300px;
    margin: 0;
    padding: 0 20px;
  }
}
