@import "../../styles/variables/colors.scss";

.slooh-features-container {
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 0;
  margin-top: -20px;

  .title {
    font-size: 1.15em;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0 40px;
  }

  .content {
    color: $light-blue;
    margin-bottom: 60px;
    padding: 0 40px;
  }

  .action {
    background: $pink;
    color: #fff;
    padding: 10px 20px;
    font-size: 0.75em;

    &:hover {
      background: #000;
      text-decoration: none;
    }
  }
}
