@import "../../styles/variables/fonts.scss";

.sponsorImagesContainer {
  font-family: $primary-font;
  background: #fff;
  padding: 20px 0;
  text-align: center;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  .title {
    margin-top: 50px;
  }

  .sponsorImages {
    list-style-type: none;

    .sponsorImage {
      float: left;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
