@import "../../styles/variables/fonts.scss";

.sponsorImagesContainer {
  font-family: $primary-font;
  background: #fff;
  padding: 15px 0;
  text-align: center;

  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  .content {
    width: 95%;
    margin: 0 auto;
  }

  .title {
    font-weight: 300;
    margin: 0;
    margin-bottom: 30px;
  }

  .sponsorImages {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;

    .sponsorImage {
      width: 110px;
      height: 100px;
      float: left;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
