

.new-dash .progress-card-main{
    /* padding: 0px 10px; */
    /* background: #FAFAFA; */
}


.new-dash .currentProgress{
    /* position: absolute;
    width: 39px;
    height: 14px;
    left: 715px;
    top: 163px; */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    text-align: right;
    
    color: #000000;
}

.new-dash .nextLevelName{
    
    /* position: absolute;
    width: 78px;
    height: 14px;
    left: 922px;
    top: 163px; */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    text-align: right;

    color: #828282;
}

.new-dash .info{
    padding:3px 0px;
    display: flex;
    justify-content: space-between;
}

.new-dash .progress-bar{
    background: linear-gradient(270deg, #C2A068 0%, #A8854A 100%) !important;    
}

.new-dash .progress{
    border-radius: 0px 0px 8px 8px;
    background: #3E4854;
    height: 16px;
}


