@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .progress-card-main{
     padding: 0px; 
    /* background: #FAFAFA; */
}


.new-dash .currentProgress{
    /* position: absolute;
    width: 39px;
    height: 14px;
    left: 715px;
    top: 163px; */
    
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-align: right;
    
    color: #B8C9DE;
}

.new-dash .nextLevelName{
    
    /* position: absolute;
    width: 78px;
    height: 14px;
    left: 922px;
    top: 163px; */

    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #B8C9DE;
}

.new-dash .info{
    padding:3px 0px;
    // margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

.new-dash .progress-bar{
    background: linear-gradient(270deg, #C2A068 0%, #A8854A 100%) !important;    
    -webkit-transform: perspective(300px) rotateX(-30deg);
    -o-transform: perspective(300px) rotateX(-30deg);
    -moz-transform: perspective(300px) rotateX(-30deg);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.new-dash .progress{
    border-radius: 0px 0px 8px 8px;
    background: #3E4854;
    height: 16px;   
    // margin-right: 15px; 
}

// @media (min-width: $screenXLarge){
//     .new-dash .nextLevelName, .new-dash .currentProgress{
//         font-size: 14px;
//         line-height: 17px;
//     }
// }
.new-dash .clubnextLevelName{
    
    /* position: absolute;
    width: 78px;
    height: 14px;
    left: 922px;
    top: 163px; */

    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    /* identical to box height */

    text-align: right;

    color: #253446;
}
@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .nextLevelName, .new-dash .currentProgress{
        font-size: 12px;
        line-height: 14px;
    }    
}

@media (min-width: $screenMobile) and (max-width: $screenTab){
    .new-dash .left{     
        width: 100%;     
        padding-left: 10px;      
    }
    .new-dash .left-contents{    
        padding: 10px 10px 10px 0px;
    }
    .new-dash .right{
        position: absolute;
        right: 0;
        width: 60%;
        height: 100%;
        display: none;       
    }
    .new-dash .mar-left-right-16{
        margin: 0px 14px;
    }
    .new-dash .currentProgress, .new-dash .nextLevelName {
        font-size: 12px;
        line-height: 16px;
    }
    .new-dash .progress {       
        height: 10px;
    }
    .new-dash .currentProgress, .new-dash .clubnextLevelName {
        font-size: 12px;
        line-height: 16px;
    }
}