.high-magnification {
  // background: url(../../../../../assets/images/graphics/space-background.jpg) no-repeat center center fixed;
  position: relative;
  .main-container {
    img {
      width: 100%;
    }
  }
  .icons {
    .plus {
      position: absolute;
      left: 20px;
      top: 20px;
      visibility: hidden;
    }
    .minus {
      position: absolute;
      left: 60px;
      top: 60px;
      visibility: hidden;
    }
    .screen-view {
      position: absolute;
      right: 20px;
      bottom: 20px;
      visibility: hidden;
    }
    .circular-view {
      position: absolute;
      right: 20px;
      bottom: 80px;
      visibility: hidden;
    }
    .snapshot {
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
    &.hover {
      .plus, .minus, .screen-view, .circular-view {
        visibility: visible;
      }
    }
  }

}
