@import '~app/styles/variables/index';

$msgBg: lighten($lightHeadedAstronaut, 60%);
$msgOwnBg: lighten($golda, 25%);

.feed-item {
  margin-bottom: 15px;
  text-align: left;

  .feed-data {
    margin-left: 14px;
    display: flex;
    /* justify-content: flex-end; */

    &-date {
      color: $lightHeadedAstronaut;
      margin: 5 2px;
      font-weight: bold;
      font-size: .90em;
    }

    &-user {
      font-weight: bold;
    }
  }

  .feed-msg {
    user-select: text;
    background-color: $msgBg;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    width: 100%;
    margin-right: auto;
    font-size: 14px;
    position: relative;

    .feed-msg-text {
      word-wrap: break-word;
    }
  }

  /* CURRENT USER */
  &.feed-item-current-user {
    text-align: left;

    .feed-data {
      flex-direction: row-reverse;
    }

    .feed-msg {
      background-color: $msgOwnBg;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid $msgOwnBg;
    position: absolute;
    top: -9px;
    right: 0;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid $msgBg;
    position: absolute;
    top: -9px;
    left: 0;
  }
}
