.mission-card-container {
  &.mission-expired {
    pointer-events: none;
    opacity: 0.5;
  }
}

.object-details-missions-actions {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0;
}
