@import '../../styles/variables/fonts.scss';
@import '../../styles/mixins/utilities.scss';

.telescope-details-page-wrapper {
  font-family: $primary-font;
  background-image: url(https://vega.slooh.com/assets/images/photos/milky-way-3.jpg);
  @include background-image-cover;
  background-position: center;

  .current-selection-header .title-container {
    color: #fff;
    border-bottom: none;
  }

  .telescopesSelectionContainer {
    .description {
      color: #fff;
    }
  }

  .details-content-wrapper {
    margin: 0 auto;
  }
}

.telescope-details {
  .viewer-container {
    position: relative;
  }
}

.telescope-details-sidebar {
  margin-top: 35px;
}
