.slooh-by-user-tag {
  
  .profile-photo, .profile-name {
    float: left;
  }

  .profile-name {
    padding: 0 0 0 20px;
    margin-bottom: 15px;

      .username {
        font-size: 1.2em;
        font-weight: 300;

        .user-details {
          font-size: 0.65em;
          color: $light-turqoise;
        }
      }

      .account-level {
        font-size: 0.5em;
        padding-left: 10px;
        color: #f00;
        font-weight: 600;
        text-transform: uppercase;
      }
  }
}
