@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/utilities.scss';

.slooh-by-user-tag {
  display: flex;
  align-items: center;

  .profile-photo,
  .profile-name {
    float: left;
  }

  .profile-photo {
    @include background-image-cover;
    @include border-radius(50%);
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
  }

  .profile-name {
    padding: 0 0 0 10px;
    margin: 0;

      .username {
        font-size: 1.2em;
        font-weight: 300;

        &.dark {
          color: #000;
        }
        &.light {
          color: #fff;
        }

        .user-details {
          font-size: 0.65em;

          &.dark {
            color: $light-turqoise;
          }
          &.light {
            color: #000;
          }
        }
      }

      .account-level {
        font-size: 0.5em;
        padding-left: 10px;
        color: #f00;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
      }
  }
}
