@import '~app/styles/bootstrap/index';
@import '~app/styles/variables/index';

.telescope-setup {
  background-color: $romance;
  box-shadow: 0 0 6px $shadows;

  .telescope-setup-telescope-info {
    padding: 40px 60px;
    border-bottom: 1px solid $hawkesBlue;
    font-family: $secondary-font;
    font-size: 24px;
    line-height: 2.58;
    color: $lightHeadedAstronaut;
  }

  .telescope-setup-dropdown {
    display: none;
  }
}

@include media-breakpoint-down(lg) {
  .telescope-setup {
    .telescope-setup-nav {
      display: none;
    }

    .telescope-setup-telescope-info {
      padding: 0;
      border: none;
      font-family: $secondary-font;
      font-size: 20px;
      line-height: 2;
      color: $lightHeadedAstronaut;
      margin-bottom: 20px;
    }

    .telescope-setup-dropdown {
      display: block;
      padding: 20px 30px 30px;
    }
  }
}
