@import '../../../styles/variables/fonts.scss';

.live-stream {
  position: relative;

  .top {
    position: relative;

    .short {
      line-height: 24px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: #d8d8d8;
      padding-left: 10px;
      font-size: 14px;
      padding-top: 10px;
    }
  }

  .content {
    background-color: #000;
    padding: 10px 30px 20px 70px;
    position: relative;
    color: #B9D9D9;

    .title {
      margin: 10px 0;
      font-size: 24px;
      font-weight: bold;
    }

    .description {
      font-family: $secondary-font;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .small {
      font-size: 12px;
    }

    img {
      position: absolute;
      left: 10px;
      top: 20px;
    }
  }
}
