@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/fonts.scss";

.heart {
  width: 36px;
  height: 32px;
  position: relative;
  font-size: 3rem;
  background: none;
  border: none;
  padding: 0;
  cursor: default;

  &:active, &:focus {
    outline: none;
  }

  &.clickable {
    cursor: pointer;
  }

  &.light {
    color: $white;

    .count {
      color: $red;
    }
  }

  &.dark {
    color: $darkBlueGray;

    .count {
      color: $white;
    }
  }

  .count {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }
}
