@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/fonts.scss";

.heart {
  width: 36px;
  height: 32px;
  position: relative;
  text-align: center;
  font-size: 3rem;

  &.light {
    color: $white;
  }

  &.dark {
    color: $black;
  }

  .count {
    position: absolute;
    top: 17px;
    left: 14px;
    color: $red;
    font-size: 12px;
    font-weight: 600;
  }
}
