@import '~app/styles/bootstrap/common';

.data-collection-module {
  .data-collection-slot-list {
    display: flex;
    flex-flow: row wrap;
    margin: 20px -10px 112px;
  }
}

@include media-breakpoint-down(sm) {
  .data-collection-module {
    .data-collection-slot-list {
      margin: 20px -30px 112px;
    }
  }
}
