@import '~app/styles/variables/index';
@import '~app/styles/mixins/index';

.leaderboard-table-wrapper {
  display: flex;

  & > div {
    flex: 1;

    padding: 0 90px;
  }

  @include sm-low() {
    flex-direction: column;

    & > div {
      padding: 0 20px;
    }
  }

  @include md() {
    width: 81%;
    margin: 0 auto;
    justify-content: space-between;

    & > div {
      max-width: 45%;
      padding: 0;
    }
  }
}
