@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.best-of-slooh {
  font-family: $primary-font;
  color: #fff;
  background: #212121;
  margin-bottom: -50px; /* pull the app container up a bit to hide the image bg */
  padding: 0 0 150px 0;

  .title-bar {
    padding: 60px 0 25px 15px;
    color: $light-gray;

    .title {
      text-transform: uppercase;
      margin: 0;
      padding: 0;

      .highlight {
        color: $turqoise
      }
    }

    .subtitle {
      font-size: 1.25em;
      margin: 0;
      padding: 0;
    }

    .sponsor {
      position: relative;
      bottom: -40px;
    }

    .call-to-action {

      .action {
        color: #fff;
        display: block;
        padding: 15px 25px;
        background: $pink;
        width: 70%;
        float: right;
        text-align: center;

        &:hover {
          background: $light-gray;
        }
      }
    }
  }
}
