@import '~app/styles/variables/index';

.groups-navigation {
  display: none;
  height: 65px;
  margin: 20px 0 20px;
  border-top: 1px solid $hawkesBlue;
  border-bottom: 1px solid $hawkesBlue;

  .groups-nav-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    color: $shadows;
    font-weight: 700;
    margin-right: 20px;
    letter-spacing: 1px;
  }

  .groups-nav-active {
    border-bottom: 2px solid $astronaut;
    color: $astronaut;
  }
}

.groups-navigation__observations {
  .groups-observations-container.root {
    width: 100%;
  }
}

@include lg() {
  .groups-navigation {
    display: flex;
  }
}

@include xl() {
  .groups-navigation {
    display: flex;
  }
}
