@import '../../../styles/variables/fonts';
@import '../../../styles/variables/colors';
@import '../../../styles/mixins/utilities';

.moreAbout {
  font-family: $primary-font;
  padding: 20px 0;
  position: relative;
  margin: 20px 0;
  background-color:  $white;
  color: $font-black;
  font-size: 15px;
  text-align: center;

  .moreAboutHeader {
    @include sideHeader;


    h4 {
      font-size: 24px;
      margin: 0;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      font-weight: 100;
      font-family: $slooh-body;
    }
  }

  .moreAboutContainer {
    list-style: none;
    color: $font-black;
    text-align: center;
    font-size: 18px;
    padding: 25px 20px 0 20px;

    img.moreAboutIcon {
      height: 25px;
      width: 25px;
      padding-right: 5px;
    }

    .moreAboutLink {
      color: $pink;
    }
  }

}
