@import '~app/styles/variables/index';

.photohub-upload-photo-container {
  position: absolute;
  right: 0;
  top: -73px;
}

.upload-modal.modal-dialog {
  max-width: 832px;
  font-family: $primary-font;
  box-shadow: 0 0 6px 0 $shadows;

  .modal-content {
    border: none;
    padding: 40px;
    //max-height: calc(100vh - 42px);
    //overflow-y: auto;
    background: $white;

    .upload-photo-form {
      display: flex;
      flex-flow: row wrap;

      .upload-photo-form-left,
      .upload-photo-form-right {
        width: 50%;
        padding: 15px;
        display: flex;
        flex-direction: column;
      }

      .upload-photo-form-input-file {
        input {
          display: none;
        }

        label {
          width: 100%;
          height: 300px;
          margin: 0;
          background-color: $geyser;
          text-align: center;
          font-weight: 400;
          cursor: pointer;
          border: 1px dashed $darkBlue;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          color: $lightHeadedAstronaut;
          position: relative;

          img {
            width: 100%;
            position: absolute;
            z-index: 1;
            max-height: 100%;
          }
        }
      }

      .upload-photo-radio {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 15px;

        input {
          margin-right: 5px;
          cursor: pointer;
        }

        label {
          margin: 0px;
          font-family: $primary-font;
          font-size: 16px;
          color: $lightHeadedAstronaut;
          cursor: pointer;
        }

        &.reference-type {
          .reference-type-content {
            width: 100%;
            padding-left: 17px;
            margin-top: 10px;

            textarea {
              display: block;
              width: 100%;
              margin-top: 25px;
              padding: 15px 20px;
              font-size: 16px;
              font-family: $secondary-font;
              font-weight: 400;
              line-height: 18px;
              color: $astronaut;
              border: none;
              border-radius: 4px;
              box-shadow: inset 0 0 7px 0 $pale-grey-two;
              background-color: $pale-grey;
              resize: none;
              outline: none;
            }

            .designation-format,
            .designation-example {
              margin-top: 10px;
              font-family: $secondary-font;
              font-size: 16px;
              font-weight: 400;
              line-height: 29px;
              color: $raven;
            }
          }
        }
      }

      .upload-photo-observation-log {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        input,
        textarea {
          border-radius: 4px;
          box-shadow: inset 0 0 7px 0 $pale-grey-two;
          background-color: $pale-grey;
          border: none;
          padding: 26px 32px;
          outline: none;
          font-family: $secondary-font;
          font-size: 16px;
          line-height: 1.13;
          color: $battleship-grey;
        }

        input {
          height: 72px;
          margin-bottom: 20px;
        }

        textarea {
          height: 220px;
          margin-bottom: 30px;
          resize: none;
        }
      }

      .upload-photo-upload-button {
        width: 100%;
        padding: 0 15px;
        text-align: right;
      }
    }
  }
}
