

.club-list-main{
    padding: 24px 0px;
}

.club-list-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
}

.club-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.club-explore-card{
    padding: 2em;    
    background: #202020;
    border-radius: 8px;
    margin-right: 10px;    
    width: 200px;
    margin-bottom: 10px;   
}

.club-title{   
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}

.club-subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-top: 10px;
    
    color: rgba(255, 255, 255, 0.8);
}

.club-explore-card-head{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.club-card-options{
    height: fit-content;
}
