@import "../../../styles/variables/colors";

.star-share-camera-wrapper {
  display: flex;
};

.snapshot-btn {
  flex: 0 0 70px;
  color: $turqoise;
  background: transparent;
  border: 0;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }
}

.snapshot {
  background: $black;
  flex: 0 0 70px;
  height: 40px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px $light-gray;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.snapshot-index {
  position: absolute;
  color: $white;
  z-index: 2;
  font-size: 12px;
}
