@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .community-club-main{
    padding: 24px 0px;
}

.new-dash .community-club-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;    
    margin-bottom: 10px;
    color: #FFFFFF;
}

.new-dash .community-club-row{
    margin-bottom: 0px;
}

.new-dash .community-club-id-div{    
    width: 56px;
    height: 56px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://vega.slooh.com/assets/v4/dashboard-new/community_bg.svg') no-repeat;
    background-size: cover;
    border-radius: 8px;   
    margin: 5px 0px;
}

.new-dash .pointer{
    cursor: pointer;
}

.new-dash .community-club-id{
    /* position: absolute;
    width: 21px;
    height: 21px;
    left: 733px;
    top: 2789px;
     */
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.new-dash .community-clubs-div-pad-left-10{
    padding-left: 10px;
}

.new-dash .community-club-name{
    /* position: absolute;
    width: 214px;
    height: 19px;
    left: 786px;
    top: 2771px; */
    
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
 
    color: #FFFFFF;
}

.new-dash .community-club-gp{    
    /* position: absolute;
    width: 214px;
    height: 16px;
    left: 786px;
    top: 2794px; */

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    color: #FFFFFF;
}

.new-dash .community-club-admin{
    /* position: absolute;
    width: 214px;
    height: 14px;
    left: 786px;
    top: 2813px; */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.6);    
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .community-club-heading{
        font-size: 14px;
        line-height: 17px;
    }
    .new-dash .community-club-id{      
        font-size: 18px;
        line-height: 21px;
    }
    .new-dash .community-club-name{
        font-size: 14px;
        line-height: 17px;
    }
    .new-dash .community-club-admin{
        font-size: 10px;
        line-height: 14px;
        color: rgba(255, 255, 255, 1);    
    }
}

@media (min-width: $screenMobile) and (max-width: $screenTab){

    .new-dash .community-club-main{
        padding: 24px 0px 0px 0px;
    }

    .new-dash .community-club-heading {
        font-size: 16px;
        line-height: 20px;
    }

    .new-dash .community-club-id-div {
        width: 50px;
        height: 50px;
    }

    .new-dash .community-club-id {
        font-size: 16px;
        line-height: 20px;
    }

    .new-dash .community-club-name {
        font-size: 14px;
        line-height: 18px;
    }

    // .new-dash .community-clubs-div-pad-left-10 {
    //     padding-bottom: 10px;
    // }
}