

.new-dash .community-club-main{
    padding: 24px 0px;
}

.new-dash .community-club-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    margin-bottom: 10px;
    color: #FFFFFF;
}

.new-dash .community-club-id-div{    
    width: 56px;
    height: 56px;    
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://vega.slooh.com/assets/v4/dashboard-new/community_bg.svg') no-repeat;
    background-size: cover;
    border-radius: 8px;   
    margin: 5px 0px;
}

.new-dash .community-club-id{
    /* position: absolute;
    width: 21px;
    height: 21px;
    left: 733px;
    top: 2789px;
     */
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    text-align: center;
    margin-bottom: 0px;
    color: #FFFFFF;
}

.new-dash .community-clubs-div-pad-left-10{
    padding-left: 10px;
}

.new-dash .community-club-name{
    /* position: absolute;
    width: 214px;
    height: 19px;
    left: 786px;
    top: 2771px; */
    
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.new-dash .community-club-gp{    
    /* position: absolute;
    width: 214px;
    height: 16px;
    left: 786px;
    top: 2794px; */

    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.new-dash .community-club-admin{
    /* position: absolute;
    width: 214px;
    height: 14px;
    left: 786px;
    top: 2813px; */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.6);    
}
