@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .upcoming-main{
    padding: 24px 0px;
}

.new-dash .upcoming-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 10px;
    /* identical to box height */
    /* #FFF - Text */
    color: #FFFFFF;
}

.new-dash .upcoming-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* justify-content: space-between; */
}

.new-dash .schedule-mission-card{
    padding: 1.5em;    
    background: #202D3D;
    border-radius: 8px; 
    margin-right: 10px;
    margin-bottom: 10px;    
    width: 200px;
}

.new-dash .schedule-misssion-title{   
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* #FFF - Text */

    color: #FFFFFF;
}

.new-dash .schedule-mission-subtitle{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #B2B2B2;
}

.new-dash .empty-mission-card{
    padding: 2em;
    background-color: #253446;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}

@media (min-width: $screenXLarge){
    .new-dash .upcoming-heading{
        font-size: 28px;
        line-height: 32px;
    }
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .upcoming-heading{
        font-size: 16px;
        line-height: 19px;
    }
}