

.upcoming-main{
    padding: 24px 0px;
}

.upcoming-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    /* identical to box height */
    /* #FFF - Text */
    color: #FFFFFF;
}

.upcoming-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.schedule-mission-card{
    padding: 1.5em;    
    background: #202D3D;
    border-radius: 8px; 
    margin-right: 10px;
    margin-bottom: 10px;    
    width: 200px;
}

.schedule-misssion-title{   
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* #FFF - Text */

    color: #FFFFFF;
}

.schedule-mission-subtitle{
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #B2B2B2;
}
