.UsersReservations {
  .missionIcon {
    height: 50px;
    width: 50px;
  }
  .missionIconXtraLarge {
    height: 96px;
    width: 96px;
  }
  .hidden {
    display: none;
  }

  .icon-small {
    background-position: inherit !important;
    vertical-align: top !important;
  }
}
