@import "~app/styles/variables/colors.scss";

.allskytimelapse-video {
  max-width: 100%;
  height: 202px;
  min-height: auto;
  max-height: auto;

  &:focus {
    outline: none;
  }
}

.live-allsky {
  .generic-loading-box {
    min-height: auto;
    height: auto;
    padding: 20px 0;
  }
}

.live-allskytimelapse {
  display: block;
  line-height: 1; // to clear an empty space after <video>
  margin-top: 20px;
  background-color: $light-black;
}
