@import "~app/styles/variables/index";

.telescope-view-wrapper {
  .carousel {
    .telescope-view {
      margin: auto;
    }
  }

  .carousel-control-prev,.carousel-control-next {
    color: $lightHeadedAstronaut;
    font-size: 30px;
  }
}
