@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b703y');
  src:  url('fonts/icomoon.eot?b703y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b703y') format('truetype'),
    url('fonts/icomoon.woff?b703y') format('woff'),
    url('fonts/icomoon.svg?b703y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e90a";
  color: #41566f;
}
.icon-share:before {
  content: "\e90b";
  color: #41566f;
}
.icon-label:before {
  content: "\e90c";
  color: #41566f;
}
.icon-plus:before {
  content: "\e90d";
  color: #41566f;
}
.icon-download:before {
  content: "\e90e";
  color: #41566f;
}
.icon-slooh_logo_astronaut .path1:before {
  content: "\e900";
  color: rgb(65, 86, 111);
}
.icon-slooh_logo_astronaut .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-slooh_logo_astronaut .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-slooh_logo_astronaut .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-slooh_logo_astronaut .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-slooh_logo_astronaut .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-telescope_astronaut:before {
  content: "\e906";
  color: #41566f;
}
.icon-user_astronaut .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-user_astronaut .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user_astronaut .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(231, 236, 237);
}
