.PersonalInfo .card-header{
    background-color: #415671!important;
    border-radius: 4px 4px 0px 0px;
    color: #FFFFFF!important;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}
 .extraclass .card-header{
    background-color: #E9EBED!important;
    border-radius: 4px 4px 0px 0px;
    color: #253446!important;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
}

.PersonalInfo.card .card-header img {
    float: right;
}
.chervonicon{
   margin-top: 7px;
} 
.acc-header{
    font-size: 18px;
}

.PersonalInfo.card {
    background-color: #F8F9FA;
    margin-bottom: 0em;
}

