.PersonalInfo .card-header{
    background-color: #415671!important;
    border-radius: 4px 4px 0px 0px;
    color: #FFFFFF!important;
    padding: 1em;
    
}
.PersonalInfo.card .card-header img {
    float: right;
}
.chervonicon{
    width: 20px;
}

.PersonalInfo.card {
    background-color: #F8F9FA;
    margin-bottom: 0em;
}

