@import "../../styles/variables/fonts";
@import "../../styles/variables/colors";

$profilePhotoOffset: 45px;
$infoSpacing: 15px;

@mixin spacing {
  margin-left: $profilePhotoOffset;
  margin-bottom: $infoSpacing;
}

.discussionsItem {
  overflow: auto;
  padding-left: 50px;
  border-bottom: 1px solid $gray;

  hr {
    border-top: 1px solid $black;
  }
}

.discussionsInfo {
  font-size: 16px;
  color: $black;
  padding: 1px 20px 20px 0;
}

.discussionsCreationDate {
  @include spacing;
  color: $turqoise;

}

.DiscussionsError {
  color: $red;
}

.DiscussionsInput, .DraftEditor-root {
    border: 1px solid $black;
}

.validationError {
  .DiscussionsInput, .DraftEditor-root {
      border: 1px solid $red;
  }
}


.discussionsImages {
  display: block;
  margin: 15px $profilePhotoOffset;
  width: 90%;
}

.discussionsTitle {
  @include spacing;
  text-decoration: none;
  color: $darkBlueGray;

  iframe {
    width: 100%;
  }
}

.discussionsContent {
  @include spacing;
}

.discussionsReplies {
  @include spacing;
  position: relative;
  text-decoration: none;
  display: inline-block;

  hr {
    border-top: 1px solid $black;
  }

  .discussionsrepliesText {
    display: inline-block;
    height: 35px;
    color: $pink;

    &:active,
    &:visited {
      text-decoration: none;
    }
  }
}

.editorLabel {
  width: 90%;
}

.load-more {
  text-align: center;
  font-size: 2rem;
  margin: 15px 0;
  color: $pink;
  cursor: pointer;
}

.generic-loading-box {
  min-height: 150px;
}


.discussionsThreadHeader {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: $primary-font;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(180deg,  #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(180deg,  #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(180deg,  #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  min-height: 145px;
  display: block;
  width: 100%;
  padding: 10px 50px;

  .breadcrumbs {
    flex: 3 0 0;
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $pink;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    font-weight: 400;
    width: 100%;
    padding: 0;
    min-height: 100px;
    bottom: 0;
  }

  .title-container {
    bottom: 5px;
    color: $white;
    text-transform: uppercase;
    font-size: 36px;

    .title {
      font-size: 34px;
      text-transform: none;
      color: $turqoise;
      display: inline-block;
      font-weight: 400;
    }

    &.center {
      margin: 0 auto;
    }
  }

  .button-nav {
    align-self: flex-end;
    text-align: right;
    padding: 0;
  }

}

.discussionsInlineHeart {
  vertical-align: top;
  display: inline-block;
  margin-left: 50px;
  margin-top: -15px;

  &.no-margin {
    margin-left: 0;
  }
}

.discussionsHelperText {
  font-size: .9rem;
  margin-left: 10px;
  display: inline-block;
}
