@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/utilities.scss';

.headshotAccountDetailRoot {
  display: flex;
  width: 35%;
  margin: 0 auto;
  margin-top: -70px;

  .accountDetail {
    padding-top: 100px;
    font-size: 14px;
  }

  .profilePicture {
    @include profilePicture;
    background-image: $slooh-blue-xxlight url('../../../../assets/icons/astronaut-white.svg');
  }

  .changeAvatar {
    color: $pink;
    cursor: pointer;
  }
}
