@import '../../../styles/variables/colors.scss';

.headshotAccountDetailRoot {
  display: flex;
  width: 35%;
  margin: 0 auto;
  margin-top: -70px;

  .accountDetail {
    padding-top: 100px;
    font-size: 14px;
  }

  .profilePicture {
    background: $slooh-blue-xxlight url('../../../../assets/icons/astronaut-white.svg') no-repeat top center;
    background-size: 70%;
    border: 10px solid $slooh-white;
    border-radius: 50% 50%;
    box-shadow: 0 0 10px rgba($slooh-black, .5), inset 0 0 10px rgba($slooh-black, .5);
    display: inline-block;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    vertical-align: -50px;
    width: 150px;
    z-index: 999;
  }
}
