@import '~app/styles/bootstrap/common';
@import '~app/styles/variables/index';
@import '~app/styles/mixins/index';
@import '~app/styles/variables/colors.scss';

$headerSize: 50px;
$screenHeaderSize: 110px;

@keyframes smallAnimatedCircle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bigAnimatedCircle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@mixin live-feed-full-screen-mode {
  position: static;
  .live-activity-window-wrapper {
    position: static;
    .react-draggable {
      transform: translate(0) !important;
      top: calc(#{$headerSize} + 0px) !important;
      width: 100% !important;
      // left: unset !important;
      height: calc(100vh - #{$headerSize}) !important;
    }
  }
}


.live-activity-wrapper {
  // todo make common
  color: $lightHeadedAstronaut;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  user-select: none;

  &.full-screen {
    @include live-feed-full-screen-mode;
  }

  .desktop-container {
    display: inline-block;
  }

  .icon-bubble-comment-streamline-talk {
    font-size: 20px;
    display: inline-block;
    height: 20px;
    cursor: pointer;
  }

  .chat-nav{
    padding: 0px;
  }

  .chat-tab-div{
    padding: 10px 20px;
  }

  .message-identifier {
    display: none;
    position: absolute;
    top: 17px;
    left: 26px;
    width: 8px;
    height: 8px;
    margin-left: 9px;
    border-radius: 50%;
    background-color: $dark-red;
    cursor: pointer;

    &.has-new-messages {
      display: block;
    }

    &:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      z-index: 2;
      width: 16px;
      height: 16px;
      background: $dark-red;
      opacity: 0.3;
      border-radius: 100%;
      animation: bigAnimatedCircle 2s infinite;
    }

    &:after {
      content: '';
      position: absolute;
      top: -6px;
      left: -6px;
      z-index: 3;
      width: 20px;
      height: 20px;
      background: $dark-red;
      opacity: 0.2;
      border-radius: 100%;
      animation: smallAnimatedCircle 2s infinite;
    }
  }

  .live-activity-window-wrapper {
    //position: relative;
    //transform: translate(85px -300px);
    //top: 85px;
    //left: -300px;
    
    &.live-activity-window-wrapper-mobile {
      left: -195px;
    }

    
    .live-activity-window {
      // todo make common

      background-color: #f2f2f2;
      width: 100%;
      height: 100%;
      @include boxShadow();
      border: 6px solid $lightHeadedAstronaut;
      display: flex;
      flex-direction: column;

      &-header {
        cursor: move;
        padding: 0px 20px 0px 20px;
        border-bottom: 1px solid $hawkesBlue;

        .nav-tabs {
          border-bottom: none;
        }

        &-right {
          display: inline-flex;
          width: 15%;
          justify-content: flex-end;

          .full-screen-button {
            font-size: 12px;
            border-width: 1px;
            border-color: $lightHeadedAstronaut;
            width: 27px;
            height: 27px;
            color: $lightHeadedAstronaut;
            margin-right: 10px;
          }
        }

        .h4-custom {
          font-family: $primary-font;
        }

        .close-window {
          line-height: 29px;

          .icon-close {
            font-size: 10px;
            cursor: pointer;
          }
        }
      }

      &-footer {
        padding: 10px 10px 5px 10px;
        border-top: 1px solid $hawkesBlue;

        input {
          // TODO COMMON
          display: block;
          width: 100%;
          padding: 10px 20px;
          background-color: $pale-grey;
          border: 1px solid transparent;
          border-radius: 4px;
          box-shadow: inset 0 0 7px 0 $pale-grey-two;
          font-family: $secondary-font;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.13;
          letter-spacing: normal;
          color: $battleship-grey;
          z-index: 9999;
          &:focus {
            outline: none;
          }

          &:hover,
          &:focus {
            border: 1px solid $hawkesBlue;
          }
        }
      }

      &-body {
        padding: 5px 10px 5px 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &-feed {
          flex: 1;
        }
      }
    }
  }

  // resize handler
  .react-resizable-handle-se {
    bottom: 5px;
  }

  //RESPONSIVE
  @include media-breakpoint-only(md) {

    .live-activity-wrapper .full-screen{
      @include live-feed-full-screen-mode;
    }
    

   

    // .desktop-container {
    //   display: none;
    // }

    .live-activity-window-wrapper .react-draggable {
      width: 260px !important;
      // height: calc(45vh - #{$screenHeaderSize}) !important;
      // height: auto!important;
      // left: unset !important;
      // right: 0 !important;
      // transform: translate(0)!important;
    }
  }
  @include media-breakpoint-down(sm) {
    @include live-feed-full-screen-mode;

   

    .desktop-container {
      display: none;
    }

    .live-activity-window-wrapper .react-draggable {
      width: 100% !important;
      // height: calc(45vh - #{$screenHeaderSize}) !important;
      // height: auto!important;
      // left: unset !important;
      // right: 0 !important;
      transform: translate(0)!important;
    }
  }
}

