@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .Object-map {
    width: 100%;
    height: calc(31vw);
    // background: url('https://vega.slooh.com/assets/v4/dashboard-new/objectmap/slooh-quest-map-1.png');
    // background-color: #111;
    background: linear-gradient(90deg, #494949 0%, #494949 18.15%, #111D30 28.45%, #111D30 48.47%, rgba(73, 73, 73, 0.8) 56.03%, rgba(73, 73, 73, 0.4) 100%);
    border-radius: 8px;
  }

.new-dash .control-div{
    // background-color: #111111;
    // border-radius: 8px;
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    // margin: 12px 0px;
    // padding: 6px 24px;    
}

.new-dash .dropdown-control-div{
    background-color: #111111;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;   
    padding: 10px 15px;   
    margin: 10px 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-dash .control-menu-item-selected, 
.new-dash .control-menu-item-selected:hover,
.new-dash .control-menu-item:hover{
    background-color: #253446;
    color: #FFFFFF;
}

.new-dash .select-label{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

.new-dash .control-label{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    min-width: 40px;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
    padding-left: 5px
}

.new-dash .map-navigation-div{
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 10px;
}
.new-dash .title-div{
    position: absolute;
    z-index: 1;    
    top: 10px;
    padding: .5rem 10px 0px 10px;
    border-radius: 5px;
    background-color: #253446;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;    
}
.new-dash .object-map-title{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;    
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 5px;
}
.new-dash .object-map-subtitle{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;    
    color: #FFFFFF;
    text-align: center;
}


.new-dash .select-label-disabled{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: rgba(255, 255, 255, 0.6);


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;    
}

.new-dash .controls{
    display: flex;
    flex-direction: row;
    align-items: center;    
    flex: none;
    margin-right: 24px;
}

.new-dash .setting-icons{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.new-dash .toggle{
    margin: 0px 5px;
}

.new-dash .separator-line{
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 52.08%,hsla(0,0%,100%,0));
    width: 2px;
    height: auto;
    margin: 5px 5px;
}

.new-dash .settings-controls{
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: 30%;
    // flex: 0.2;
    justify-content: space-around;   
    padding: 10px 15px;
    background-color: #111111;
    border-radius: 8px;
    margin: 0px;
}

.new-dash .title-main{
    padding: 24px 0px;
}

.new-dash .title-heading{
    /* position: absolute;       
    top: 96px;     */
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    
    color: #FFFFFF;
}

.new-dash .title-subHeading{
    /* position: absolute;    
    top: 134px; */
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
  
    color: #BDBDBD;
     
}

.new-dash .map-container{
    position: relative;
}

.new-dash .settings-dropdown{
    button{
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0px !important;
        color: #FFFFFF !important;  
        text-transform: none;
    }    
}

.new-dash .control-dropdown{
    button{
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        // padding: 0px !important;
        color: #FFF;
        text-transform: none;
    }    
}



.new-dash .object-card-popup{
    position: absolute;
    width: 85%;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    z-index: 9;
}

.new-dash .Object-map-fullscreen{
    width: 100%;
    height: calc(95vh);
    border-radius: 8px;
}

.new-dash .disabled-control{
    opacity:0.6;
    cursor: not-allowed;
}

@media (min-width: $screenXLarge) {
    .new-dash .title-main{
        padding: 16px 0px;
    }    
    .new-dash .title-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
    }
    
    .new-dash .title-subHeading{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;      
        color: #BDBDBD;         
    }

    .new-dash .Object-map  {
        height: calc(35vw);  
    }

    .new-dash .dropdown-control-div{
        width: 72%;
        margin-right: 10px;
    }

    .new-dash .settings-controls{
        width: 25%;
        margin: 10px 0px;
    }
    .new-dash .object-card-popup{
        width: 60%;
        height: 100%;
    }

}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .title-main{
        padding: 16px 0px;
    }    
    .new-dash .title-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 25px;
    }
    
    .new-dash .title-subHeading{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;      
        color: #BDBDBD;         
    }

    .new-dash .Object-map  {
        height: calc(28vw) ;  
    }

    .new-dash .settings-controls{
        width: 40%;
        margin: 0px;
    }

    .new-dash .object-card-popup{
        width: 95%;
        height: 95%;
    }
    .new-dash .object-map-title{
        font-size: 18px;
        line-height: 22px;  
    }
    .new-dash .object-map-subtitle{        
        font-size: 12px;
        line-height: 16px; 
    }
}

@media (min-width: $screenMobile) and (max-width: $screenTab){
    
    .new-dash .Object-map  {
        height: calc(46vw) ;  
    }  

    .new-dash .settings-controls{
        width: 60%;        
    }

    .new-dash .object-card-popup{
        width: 95%;
        height: 95%;
    }

    .new-dash .object-map-title{
        font-size: 16px;
        line-height: 20px;  
    }
    .new-dash .object-map-subtitle{        
        font-size: 10px;
        line-height: 14px; 
    }
    
}
