


.new-dash .header-txt{   
    position: static;       

    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: flex-start;
    margin-right: 24px;
    list-style-type: none;
    display: inline-block; 
    cursor: pointer;   
}

.new-dash .header-txt-active,.header-txt:hover{
    font-family: Brandon Grotesque;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;    

    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: center;
    margin-right: 24px ;
    list-style-type: none;
    display: inline-block; 
    cursor: pointer;   
}

.new-dash .header-main{
     /* Inside Auto Layout */
     padding: 24px 24px 8px 24px;
     background: #253446;
     border-radius: 0px 0px 0px 8px;
}

.new-dash ul{
    padding: 0px;
}

.new-dash .header_div{
    display: flex;
    flex-direction: column;
}

.new-dash .mar-top-10{
    margin-top: 10px;
}