@import "../../../new-dashboard/breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-guest-dash .sub-title-main{
    padding: 40px 10%;
}

.new-guest-dash .sub-title-heading{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.new-guest-dash .sub-title-subHeading{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

@media (min-width: $screenXLarge) {
    .new-guest-dash .sub-title-main{
        padding: 40px 15%;
    }
    
    .new-guest-dash .sub-title-heading{        
        font-size: 22px;
        line-height: 120%;        
    }
    
    .new-guest-dash .sub-title-subHeading{       
        font-size: 18px;
        line-height: 140%;        
    }
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-guest-dash .sub-title-main{
        padding: 30px 8%;
    }
    .new-guest-dash .sub-title-heading{        
        font-size: 18px;
        line-height: 120%;        
    }
    .new-guest-dash .sub-title-subHeading{       
        font-size: 16px;
        line-height: 120%;        
    }
}

@media (min-width: $screenMobile) and (max-width: $screenTab){
    .new-guest-dash .sub-title-main{
        padding: 20px 0%;
    }

    .new-guest-dash .sub-title-heading{        
        font-size: 16px;
        line-height: 120%;        
    }

    .new-guest-dash .sub-title-subHeading{       
        font-size: 14px;
        line-height: 100%;        
    }
}