.live-mission {
  color: white;
  p {
    font-size: 20px;
  }
  .content {
    padding: 10px;
    background: rgba(31,31,31,0.40);
    position: relative;
    .personal-info {
      padding-left: 60px;
      position: relative;
      .photo {
        position: absolute;
        left: 0;
        top: 10px;
      }
    }
    h3 {
      font-size: 24px;
    }
    .job {
      font-size: 10px;
    }
    .address {
      font-size: 14px;
    }
  }
  .footer {
    padding: 10px;
    background: rgba(31,31,31,0.60);
    .mission {
      padding-left: 50px;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
        line-height: 28px;
      }
      span {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 28px;
      }
    }

  }
}
