@import '../../../styles/variables/fonts';
@import '../../../styles/variables/colors';
@import '../../../styles/mixins/utilities';

.otherFeaturedObjects {
  font-family: $primary-font;
  padding: 20px 0;
  position: relative;
  margin: 20px 0;
  background-color:  $white;
  color: $font-black;
  font-size: 15px;
  text-align: center;

  h2, h3, h4 {
    font-weight: 700;
  }

  .otherFeaturedObjectsHeader {
    @include sideHeader;


    h2 {
      font-size: 24px;
      margin: 0;
    }

    p {
      font-size: 14px;
      font-weight: 100;
      font-family: $slooh-body;
    }
  }

  .otherFeaturedObjectsContainer {
    width: 100%;
    padding-top: 10px;
    display: block;
  }

  .otherFeaturedObjectsDescription {
    font-family: $secondary-font;
    font-size: 18px;
  }

  img.otherFeaturedObjectsIcon {
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }

  .otherFeaturedObjectsHr {
    width: 80%;
    height: 5px;
  }

  .guardianContainer {
    display: flex;
    justify-content: center;
  }
}
