@import "../../../styles/variables/fonts";
@import "../../../styles/variables/colors";

.categoriesNav {
  font-family: $primary-font;
  margin-bottom: 30px;
  display: flex;

  &.grey{
    background: grey;
    margin-top: -20px;
    .categoriesNavContainer{
      height: 85px;
      li {
        a {
          color: #000;

          &.active {
            border-bottom: 5px solid $pink;
            color: #000;
          }

          &:not(.active) + .categoriesSubNavContainer {
            display: none;
          }

        }

        &:hover > a {
          border-bottom: 5px solid $pink;
          color: #000;
        }
      }


      .categoriesSubNavContainer{
        color: $white;

        li {
          a {
            color: $white;

            &:focus {
              text-decoration: none;
            }

            &:hover {
              color: #000;
              border: none;
            }

            &.active {
              border: none;
              color: #000;
              font-weight: bold;
            }

          }
        }
      }
    }
  }

  .categoriesNavContainer {
    margin: 0 auto;
    padding: 15px 0 0 0;
    height: 65px;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;

    li {
      list-style: none;
      float: left;
      margin: 0 35px;
      height: 50%;

      a {
        color: #000;

        &:focus {
          text-decoration: none;
        }

        &.active {
          border-bottom: 5px solid #7EC3C4;
          color: #000;
        }
      }

      &:hover > a {
        border-bottom: 5px solid #7EC3C4;
        color: #000;
      }
    }

    .categoriesSubNavContainer {
      position: absolute;
      left: -100px;
      text-transform: capitalize;
      padding: 0;
      min-width: 500px;
      top: 50px;

      li {
        float: left;
        margin: 0 3% 0 0;
        font-weight: normal;

        a {
          color: $pink;

          &:focus {
            text-decoration: none;
          }

          &:hover {
            color: #000;
            border: none;
          }

          &.active {
            border: none;
            color: #000;
            font-weight: bold;
          }

        }
      }
    }

  }
}
