@import '~app/styles/bootstrap/common';
@import '~app/styles/variables/index';

.featured-objects {
  margin-top: 30px;
  margin-bottom: 20px;

  .featured-objects-title {
    span {
      font-weight: 500;
    }
  }

  .featured-objects-slider {
    width: 100%;

    .slick-slider {
      margin-left: -20px;
      margin-right: -19px;

      .icon-slider-right:before {
        color: $lightHeadedAstronaut;
      }

      .icon-slider-left:before {
        color: $lightHeadedAstronaut;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .featured-objects {
    .featured-objects-slider {
      padding: 0px 40px;
    }
  }
}
