@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .profile-card-main{
    padding: 24px 0px;
    /* background: #FAFAFA; */
    display: flex;
    flex-wrap: wrap;
}

.new-dash .profile-card-left{
    width: 70px;
    display: flex;
    justify-content: center;
}

.new-dash .profile-card-right{
    /* width: 70%; */
    padding-top: 10px;
    padding-left: 10px;
}

.new-dash .profile-card-heading{
    /* position: absolute; */
    /* width: 114px;
    height: 21px;
    left: 795px;
    top: 78px; */

    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    

    color: #FFFFFF;
}

.new-dash .imgContainer{
    /* position: absolute; */
    width: 65px;
    height: 65px;   
    display: flex;
    justify-content: center;
    border-radius: 35px;
    background: #1C304E;
}

.new-dash .icon{
    width: 50px;
    height: 50px;
    margin: 12px;
}

.new-dash .profile-card-subHeading{
    /* position: absolute; */
    /* width: 86px;
    height: 16px;
    left: 795px;
    top: 103px; */

    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
     
}

.new-dash .profile-card-value{  
    font-family:  $primary-font;
    font-style: bold;    
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF; 
    font-weight: 500;   
}

.new-dash .profile-gp{  
    margin-top: 8px;  
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    color: #FFFFFF;
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .profile-card-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    .new-dash .profile-card-subHeading{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
    }
    .new-dash .profile-card-value{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
    }
    .new-dash .profile-gp{  
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
    }
}