@import "../../../styles/variables/fonts";
@import "../../../styles/variables/colors";

.CommunityPostTools {
  display: table;
  margin: 0;
  margin-left: -2em;
}

.CommunityPostHot {
  font-size: 13px;
  color: $darkBlueGray;
  display: inline-flex;
  align-items: center;
  margin-right: 50px;

  img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}

.CommunityPostShare{
  font-size: 13px;
  color: $darkBlueGray;
  display: none;
  align-items: center;
  margin-right: 50px;

  img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
}
