@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .quest-card-main{
     padding: 8px 16px; 
     background: #253446;
     border-radius: 8px;
     -webkit-box-shadow:0 0 10px white; 
     -moz-box-shadow: 0 0 10px white; 
     box-shadow:0 0 10px white;
     max-height: 36vw;
     
}

.new-dash .quest-status{    
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #C2A068;
    margin-bottom: 10px;
}

.new-dash .quest-heading{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    margin-bottom: 0px;
}

.new-dash .quest-subheading{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #FFFFFF;

}

.new-dash .quest-heading-desc{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    margin-top: 5px;
}   

.new-dash .quest-description{
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 24px */
    color: #FFFFFF;
    max-height: 100px;
    overflow-y: scroll;
}

.new-dash .see-more{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    color: #FAD59A;
    cursor: pointer;
}

.new-dash .close-icon{
    float: right;
    color: #FFF;  
    cursor: pointer;
}

.new-dash .quest-steps{
    display: flex;
    flex-direction: row;
}

.new-dash .quest-steps-item{
    background: #2F4259;
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 4px 4px;
    margin-right: 4px;
    align-items: center;
    // justify-content: space-evenly;
}

.new-dash .step-title{
    font-family: $primary-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.new-dash .step-100-title{
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: rgba(255, 255, 255,1);
    margin-right: 10px;
    margin-bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.new-dash .step-subtitle{    
    font-family: $primary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;    
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.new-dash .step-icon{
    width: 20px;
    height: fit-content;
    margin-top: 2px;
}

.new-dash .quest-item-container{
    margin-top: 5px;
    display: table;
    table-layout: fixed;
    width: 95%;
}

.new-dash .quest-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin-top: 5px;
}

.new-dash .quest-button-style{
    border-radius: 4px;    
    border: none;
    background-color: #FFFFFF;
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    min-width: 50px;
    padding: 8px;
    color: #253446;
    margin-right: 10px;
}

.new-dash .quest-badge-container{
    margin-top: -35px;
    display: flex;
    justify-content: center;    
}

.new-dash .quest-badge-icon{    
    background-size: contain;
    width: 75px;
    height: 75px;  
   
}

@media (min-width: $screenXLarge) {
    .new-dash .quest-badge-icon{
        width: 100px;
        height: 100px;  
       
    }
    .new-dash .quest-status{           
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .new-dash .quest-heading{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px; 
    }
    .new-dash .quest-subheading{        
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;    
    }
    .new-dash .quest-steps-item{
        flex-direction: column;        
        padding: 8px 8px;
        margin-right: 8px;
    }
    .new-dash .quest-item-container{
        // margin-left: 10px;
    }

    .new-dash .step-title{       
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        // margin-bottom: .5rem;        
    }
    
    .new-dash .step-100-title{        
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;      
        margin-right: 10px;
        margin-bottom: .5rem;
    }
    
    .new-dash .step-subtitle{
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        margin-bottom: .5em;
    }

    .new-dash .step-icon{
        width: 20px;        
    }

    .new-dash .quest-card-main{
        padding: 10px 32px; 
        max-height: 41vw;
   }
   .new-dash .quest-heading-desc{       
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;       
        margin-bottom: 10px;
    } 
    .new-dash .quest-description{
        font-size: 16px;
        line-height: 150%;
        max-height: 175px;
    }
    .new-dash .quest-badge-container{
        margin-top: -50px;  
    }
    .new-dash .quest-button-style{
        font-size: 14px;
        line-height: 20px;       
        padding: 6px;
        margin-right: 20px;
    }
    
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .quest-badge-icon{
        width: 40px;
        height: 40px;  
       
    }
    .new-dash .quest-status{           
        font-size: 10px;
        line-height: 14px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    .new-dash .quest-heading{
        font-weight: 600;
        font-size: 12px;
        line-height: 16px; 
    }
    .new-dash .quest-subheading{        
        font-size: 10px;
        line-height: 14px;
        color: #FFFFFF;    
    }
    .new-dash .quest-steps-item{
        flex-direction: column;        
        padding: 4px;
        margin-right: 8px;
    }
    .new-dash .quest-item-container{
        // margin-left: 10px;
    }

    .new-dash .step-title{       
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        // margin-bottom: .5rem;        
    }
    
    .new-dash .step-100-title{        
        font-weight: bold;
        font-size: 10px;
        line-height: 14px;
    }
    
    .new-dash .step-subtitle{
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        margin-bottom: .5em;
    }

    .new-dash .step-icon{
        width: 15px;        
    }

    .new-dash .quest-card-main{
        padding: 8px 8px; 
        max-height: 35vw;
   }
   .new-dash .quest-heading-desc{       
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;       
        margin-bottom: 5px;
    }   
    .new-dash .quest-description{
        font-size: 10px;
        line-height: 14px;
        max-height: 60px;
    }
    .new-dash .quest-badge-container{
        margin-top: -25px;  
    }
    .new-dash .quest-button-style{
        font-size: 9px;
        line-height: 8px;       
        padding: 4px;
        margin-right: 8px;
    }
}
