$light-gray: #9B9B9B;
$pink: #F310A7;
$blueGreen: #7EC3C4;
$darkBlueGray: #3C4A55;
$light-blue: #B9D9D9;
$red: #FC1048;
$turqoise: #599998;
$light-turqoise: #b1cfcf;
$black: #000;
$font-black: #3c4a55;
$white: #fff;
$gold: #F3D316;
$gray: #D9D9D9;

$slooh-white: rgb(255, 255, 255);
$slooh-primary-xxlight: rgb(255, 15, 190);
$slooh-primary-xlight: rgb(250, 15, 180);
$slooh-primary-light: rgb(220, 15, 160);
$slooh-primary: rgb(210, 15, 150);
$slooh-primary-dark: rgb(200, 15, 140);
$slooh-primary-xdark: rgb(190, 15, 130);
$slooh-primary-xxdark: rgb(180, 15, 120);
$slooh-gray-xxlight: rgb(185, 217, 217);
$slooh-gray-xlight: rgb(127, 132, 154);
$slooh-gray-light: rgb(146, 151, 170);
$slooh-gray: rgb(110, 117, 146);
$slooh-gray-dark: rgb(91, 96, 114);
$slooh-gray-xdark: rgb(68, 73, 90);
$slooh-gray-xxdark: rgb(49, 54, 69);
$slooh-blue-dark: rgb(20, 27, 57);
$slooh-black: rgb(1, 7, 23);
