$light-gray: #9B9B9B;
$pink: #F310A7;
$blueGreen: #7EC3C4;
$darkBlueGray: #3C4A55;
$light-blue: #B9D9D9;
$red: #FC1048;
$turqoise: #599998;
$light-turqoise: #b1cfcf;
$black: #000;
$white: #fff;
$gold: #F3D316;
$gray: #D9D9D9;
