$light-gray: #9b9b9b;
$pink: #f310a7;
$turqoise: #589a9b;
$blueGreen: #7ec3c4;
$light-turqoise: #b1cfcf;
$light-blue: #b9d9d9;
$darkBlueGray: #3c4a55;
$font-black: #3c4a55;
$red: #fc1048;
$black: #000;
$white: #fff;
$gray: #d9d9d9;
$gold: #f3d316;
$yellow: #d7ba16;
$light-black: #1f1f1f;

/* VARIABLES: COLOR
 * */

$slooh-white: rgb(255, 255, 255);

$slooh-primary-xxlight: rgb(255, 15, 190);
$slooh-primary-xlight: rgb(245, 15, 180);
$slooh-primary-light: rgb(235, 15, 170);
$slooh-primary: rgb(225, 15, 160);
$slooh-primary-dark: rgb(215, 15, 150);
$slooh-primary-xdark: rgb(200, 15, 140);
$slooh-primary-xxdark: rgb(190, 15, 130);

$slooh-gray-xxlight: rgb(185, 215, 215);
$slooh-gray-xlight: rgb(160, 190, 190);
$slooh-gray-light: rgb(145, 175, 175);
$slooh-gray: rgb(130, 160, 160);
$slooh-gray-dark: rgb(115, 145, 145);
$slooh-gray-xdark: rgb(100, 130, 130);
$slooh-gray-xxdark: rgb(85, 115, 115);

$slooh-blue-gray: rgb(60, 70, 85);

$slooh-blue-xxlight: rgb(60, 70, 145);
$slooh-blue-xlight: rgb(50, 60, 125);
$slooh-blue-light: rgb(40, 50, 105);
$slooh-blue: rgb(30, 40, 85);
$slooh-blue-dark: rgb(20, 30, 65);
$slooh-blue-xdark: rgb(10, 20, 45);
$slooh-blue-xxdark: rgb(0, 10, 25);

$slooh-black: rgb(0, 0, 0);

// V4 NEW COLORS
//$chambray: #41566f; // todo common-components/Slooh_v4_color_palette.html ?

$midnight_express: #1a2636;
$astronaut: #415671;
$nightfall: #253446;
$lightHeadedAstronaut: #41566f;
$moodyBleu: #8d969f;
$lynch: #6e7b8c;
$hawkesBlue: #d9dee4;
$glitter: #eaf0f9;
$geyser: #d9dee5;
$gainsboro: #dddddd;
$iron: #d8d8d8;
$mystic: #e7eced;
$seashell: #f2f2f2;
$romance: #ffffff;
$golden_yellow: #ffde00;
$golden: #c2a068;
$golda: #e2b979;
$shadows: #ced2d8;
$dukeBlue: #1c2633;
$chillBlue: #9cb4d2;
$faintBlue: #bcc2ca;
$thatBlue: #253446;
$faintGray: #f8f8f8;
$online: #4ab375;
$thatGrayWeForgot: #a2a8b0;
$black: #000000;
$yellow: #fad59a;
$darkGray: #979797;
$raven: #616e7d;
$hr-silver: #d5d8dd;
$silver: #dee0e2;
$darkBlue: #283749;
$battleship-grey: #6e7b8a;
$dark-background: #213043;
$dark-border: #313131;

$pale-grey: #f4f5f6;
$pale-grey-two: #edf0f2;

$transparentShadow: rgba(29, 20, 20, 0.5);

$white_tile: 'https://vega.slooh.com/assets/v4/common/LightBlueDiamondPattern_NO_TEXTURE.png';
$white_tile_texture: 'https://vega.slooh.com/assets/v4/common/LightBlueDiamondPattern_WithTexture.png';
$white_tile_paper: 'https://vega.slooh.com/assets/v4/common/White_Paper_Subtle.png';
$blue_tile_feat: 'https://vega.slooh.com/assets/v4/common/Dark_Pattern_Featured_LargeCanvas.png';
$blue_tile_guides: 'https://vega.slooh.com/assets/v4/common/Dark_Pattern_GUIDES.png';
$guide_header_bg_image: 'https://vega.slooh.com/assets/v4/common/guide_header_bg_image.jpg';
$blue_tile_canvas: 'https://vega.slooh.com/assets/v4/common/Darkest_Pattern_Canvas.png';
$questTexture: 'https://vega.slooh.com/assets/v4/common/quest_card_bg.png';
$questDetailsTexture: 'https://vega.slooh.com/assets/v4/common/quest_details_texture.png';
$white_texture_bg: 'https://vega.slooh.com/assets/v4/dashboard/white-texture.png';
$questShield: 'https://vega.slooh.com/assets/v4/common/quest_shield.png';
$navArrow: 'https://vega.slooh.com/assets/v4/common/icon_navarrow_blue.svg';
