/* VARIABLES: Typefaces
 * */
$primary-font: 'Brandon Grotesque', 'brandon-grotesque', sans-serif;
$secondary-font: 'Adobe Garamond Pro', 'adobe-garamond-pro', 'Adobe Garamond',
  'Garamond', serif;
$AngeliquemadouceColombe-font: 'AngeliquemadouceColombe', serif;

$slooh-headers: 'Brandon Grotesque', 'brandon-grotesque', sans-serif;
$slooh-header: 'Brandon Grotesque', 'brandon-grotesque', sans-serif;
$slooh-body: 'Adobe Garamond Pro', 'adobe-garamond-pro', 'Adobe Garamond',
  'Garamond', serif;

$slooh-sans: 'Brandon Grotesque', 'brandon-grotesque', sans-serif;
$slooh-serif: 'Adobe Garamond Pro', 'adobe-garamond-pro', 'Adobe Garamond',
  'Garamond', serif;

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
