
/* VARIABLES: Typefaces
 * */


$primary-font: "Brandon Grotesque", "brandon-grotesque", sans-serif;
$secondary-font:  "Adobe Garamond Pro", "adobe-garamond-pro", "Adobe Garamond", "Garamond", serif;

$slooh-header: "Brandon Grotesque", "brandon-grotesque", sans-serif;
$slooh-body:  "Adobe Garamond Pro", "adobe-garamond-pro", "Adobe Garamond", "Garamond", serif;

$slooh-sans: "Brandon Grotesque", "brandon-grotesque", sans-serif;
$slooh-serif:  "Adobe Garamond Pro", "adobe-garamond-pro", "Adobe Garamond", "Garamond", serif;
