@import '../../styles/variables/colors.scss';
@import '../../styles/variables/fonts.scss';

.enter-designation-form {
  padding-left: 20px;

  .copy {
    margin-bottom: 20px;
  }

  .generic-text-input {
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .validation-message {
    color: $gold;
    font-family: $secondary-font;
  }
}
