@import "../../styles/custom-ui.scss";
@import "../../styles/variables/fonts.scss";


.reserveObjectPage {
  font-family: $primary-font;
  color: #43555f;
  margin-bottom: 25px;

  max-width: 1320px;
  margin: 0 auto;

  .row {
    padding: 0 20px;
  }

  h2 {
    color: #3C4A55;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

    span {
      display: block;
      width: 25px;
      height: 25px;
      background: #3C4A55;
      color: #7EC3C4;
      margin: auto;
      text-align: center;
      border-radius: 50px;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 10px;
    }
  }
}

.list-item-padding {
  padding: 4px 0 0 20px;
}

.item-object {
  @extend .list-item-padding;
  margin-bottom: 1px;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  &:hover,
  &.selected {
    background: #B9D9D9;
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
  }
}

.scrollable {
  color: #3C4A55;
  height: 420px;
  overflow-y: scroll;
}

.objectCategories {
  .item {
    @extend .item-object;
    font-weight: 500;

    .icon {
      width: 22px;
      margin-right: 10px;
      vertical-align: top;
    }
  }
}

.objectCategories,
.objectList,
.objectSummary {
  @extend .custom-scroll-bar;
  @extend .scrollable;
  line-height: 2;

  a {
    color: #3C4A55;
  }

  li {
    list-style: none;
  }
}

.no-padding {
  padding: 0;
}

.title {
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.objectList {
  .sub-category {
    margin-bottom: 30px;

    .sub-category-title {
      @extend .list-item-padding;

      @extend .title;
    }

    .object-items {
      padding: 0;

      .object-item {
        @extend .item-object;
        font-weight: lighter;
      }
    }
  }
}

.objectSummary {
  padding: 0 40px;

  .actions-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-primary {
      color: #fff;
      width: 160px;
    }
  }
}
