@import "../../styles/variables/fonts.scss";
@import "../../styles/variables/colors.scss";

.slooh-object-post {
  font-family: $primary-font;
  color: #fff;
  background: #fff;
  margin-bottom: -50px; /* pull the app container up a bit to hide the image bg */
  padding: 0 0 150px 0;
}
