@import '~app/styles/bootstrap/common';
@import '~app/styles/variables/index';

.telescopes-slider-item-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  .telescopes-slider-item {
    width: 100%;
    padding: 10px;
    background: url($white_texture_bg);
    box-shadow: 0 0 6px 0 $shadows;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;

    @include media-breakpoint-up(md) {
      flex-flow: row nowrap;
      align-items: flex-start;
      width: 85%;
      padding: 40px;
      padding-top: 0px;
      padding-bottom: 0px;

      .telescope-info,
      .telescope-widget {
        width: 50%;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 80%;
    }

    .telescope-info {
      width: 100%;
      text-align: left;
      color: $lightHeadedAstronaut;
      text-transform: none;

      @media only screen and (min-width: 600px) {
	 padding-top: 40px;
      }

      .telescope-info-title {
        font-family: $secondary-font;
        font-size: 24px;
        font-weight: 300;
        line-height: 24px;
        border-bottom: 1px solid $hawkesBlue;
        padding: 30px 0;
      }

      .telescope-info-body {
        margin-top: 15px;
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .telescope-widget {
      width: 100%;

      .image-clip {
	width: 250px;
	height: 250px;
      }

      .image-portal-root {
	width: 270px;
	height: 270px;
      }

      @media only screen and (max-width: 599px) {
	padding: 10px;
      }

      @media only screen and (min-width: 600px) {
	 padding-top: 40px;
      	 padding-bottom: 40px;
         padding-left: 100px;
      }
    }
  }
}
