@import '../../../styles/variables/colors.scss';
@import '../../../styles/mixins/utilities.scss';

.accountEnhancementsRoot {
  @include border-radius(20px);
  display: flex;
  color: $white;
  background: rgba(10, 20, 45, 0.7);
  border-color: rgba(10, 20, 45, 0.7);
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(20, 30, 65, 0.6);
  min-height: 600px;
  padding: 60px 0;

  .accountTypeContainer {
    text-align: center;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    border-right: 1px solid rgba(10, 20, 45, 0.7);

    .title {
      font-size: 24px;
      margin: 0;
      border-bottom: none;
      line-height: 1.5;
      padding: 0 10px;
      text-transform: none;
      margin-bottom: 40px;
    }

    .accountIcon {
      @include border-radius(50%);
      width: 70px;
      height: 70px;
      background: $white;
      margin: 0 auto;
      margin-bottom: 40px;
      padding: 10px;
    }

    .accountName {
      margin-bottom: 40px;
    }

    .price {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .priceSubtext {
      margin-bottom: 40px;
    }
  }

  .topicList {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    text-align: left;
    padding-left: 20px;

    .title {
      display: flex;
      align-items: center;
      text-align: left;
      border-bottom: none;
      margin: 0;
      margin-bottom: 30px;

      .titleIcon {
        margin-right: 10px;
      }
    }

    .upgradeList {

      .upgradeItem {
        list-style-type: none;
        font-size: 12px;
        border-bottom: 1px solid rgba(130, 160, 160, 0.2);
        margin-right: 20px;
      }
    }
  }
}
