

.new-dash .guide-list-main{
    padding: 24px 0px;
}

.new-dash .guide-list-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: Adobe Garamond Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.new-dash .guide-list{
    display: flex;
    flex-wrap: wrap;    
}

