@import "../../breakpoints.scss";
@import "../../../../../app/styles/variables/fonts.scss";

.new-dash .guide-list-main{
    padding: 24px 0px;
}

.new-dash .guide-list-heading{
    /* position: absolute;
    width: 48px;
    height: 16px;
    left: 715px;
    top: 203px; */
    
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.new-dash .guide-list{
    display: flex;
    flex-wrap: wrap;    
}

@media (min-width: $screenTab) and (max-width: $screenMedium){
    .new-dash .guide-list-heading{
        font-size: 16px;
        line-height: 19px;
    }
}
