@import '~app/styles/bootstrap/common';

.clubs-list-container {
  margin: 0 auto;
  max-width: 644px;

  .clubs-slider {
    display: block;
  }

  .clubs-list {
    display: none;

    > .root {
      margin: 20px auto;
    }
  }

  @include media-breakpoint-down(sm) {
    .clubs-slider {
      display: none;
    }

    .clubs-list {
      display: block;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .clubs-list-container {
    max-width: 965px;
  }
}
