@import "../../../styles/mixins/utilities.scss";
@import "../../../styles/variables/colors.scss";

.interactive-panel {
  cursor: pointer;
  position: relative;

  .viewer-content {
    pointer-events: none;
  }

  &:hover {
    .icons {
      visibility: visible;
    }
  }

  .icons {
    visibility: hidden;
    color: $light-turqoise;
    text-align: center;

    .icon {
      position: absolute;
    }

    .plus {
      left: 20px;
      top: 20px;
      width: 50px;
      height: 50px;
      @include border-radius(50px);
      border: 5px solid $turqoise;

      .icon {
        position: relative;
        top: -17px;
        font-size: 3em;
      }
    }
    .minus {
      left: 60px;
      top: 60px;
    }
    .screen-view {
      right: 20px;
      bottom: 20px;
    }
    .circular-view {
      right: 20px;
      bottom: 80px;
    }
    .snapshot {
      left: 20px;
      bottom: 20px;
    }
  }
}
