@import '../../../../styles/variables/colors.scss';

.reserve-by-coordinate {

  .form-row-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .form-row {
      display: flex;
      align-items: center;
      padding: 0 10px;
      margin-bottom: 40px;

      &.highlighted {
        background: $turqoise;
      }

      .generic-text-input {
        width: 100%;
        text-align: center;
      }
    }
  }
}
