.reserve-by-telescope-date-selection-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .progress-time-action {

    .button {
      background: none;
      border: none;
      font-size: 30px;
    }
  }

  .current-date-content {

  }
}
