@import "~app/styles/variables/index";

.activeObjects {
  // mobile
  width: 95%;
  margin: auto;

  .objectsWrapper {
    width: 965px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    & > div {
      margin: 10px;
    }

    @include md {
      width: 640px;
      margin: 0 -25px;
    }
  }
}
