@import '../../../styles/variables/fonts';
@import '../../../styles/variables/colors';


.pulseListHeader {
  font-family: $primary-font;
  background: url('../../../../assets/images/graphics/milkeyway_header.jpg') no-repeat;
  background-size: cover;
  height: 145px;
  padding: 20px;
  position: relative;
  .title {
    position: absolute;
    bottom: 20px;
    left: 0;
  }
  .button {
    position: absolute;
    bottom: 10px;
    right: 30px;
  }
  h1 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    float: left;
  }
}

.pulsePostHeader {
  font-family: $primary-font;
  background: url('../../../../assets/images/graphics/milkeyway_header.jpg') no-repeat;
  background-size: cover;
  height: 145px;
  display: inline-flex;
  align-items: center;
  padding: 50px;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;

  .title {
    display: inline-flex;
    align-items: center;

    h1 {
      margin: 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 36px;
    }

    svg {
      margin-right: 10px;
    }
  }

  .additional {
    .sponsored {
      text-align: right;
      margin-right: 30px;
      color: $turqoise;
    }
    .button-nav {

      .button {
        margin-right: 30px;
      }
    }
  }
}
