@import "../../../styles/variables/fonts";
@import "../../../styles/variables/colors";


.PulsePostDate {
  @media(max-width:650px){
    font-szie:20px;
  }
  font-weight: 500;
  margin: 20px 0 0 0;

  a{
    color: $pink;
  }

  img{
    width: 18px;
    height: 17px;
    margin: 0 3px;
    vertical-align: top;
  }
}
