@import '../../../styles/variables/fonts';
@import '../../../styles/variables/colors';
@import '../../../styles/mixins/utilities';

.PulsePostImageContainer {
  width: 100%;

  .PulsePostImage {
    width: 100%;
  }

  .PulsePostImageBy {
    font-size: 12px;
    color: $turqoise;
    text-align: right;
    padding-top: 7px;
    font-weight: 100;
  }
}
