@import "../../../styles/variables/fonts";
@import "../../../styles/variables/colors";

.pulsePostBy {
  margin: 30px 0;

  img {
    width: 46px;
    height: 46px;
    display: inline;
    float: left;
    border-radius: 100%;
    border: 1px solid #ECECEA;
    padding-right: 0;
    box-sizing: border-box;
    margin: 3px 10px 0 0;
  }
  .pulsePostByName {
    font-size: 20px;
    color: $darkBlueGray;
  }
  .pulsePostByFrom {
    font-size: 14px;
    color: $light-gray;
  }
  .pulsePostByPost {
    font-size: 10px;
    color: $red;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 8px;
  }
}