

.recent-main{
    padding: 24px 0px;
}

.recent-heading{
    /* position: absolute;       
    top: 96px;     */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* #FFF - Text */

    color: #FFFFFF;
}

