@import "../../breakpoints.scss";

.new-dash .slick-prev,
.new-dash .slick-next {
    width: 40px;
    height: 40px;
    /* margin: 0 15px; */
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    /* border: solid 2px #FFF; */
    border-radius: 50%;
    z-index: 9;
    background-color: #FFFFFF;
    
  }

  .new-dash .slick-prev:hover,.new-dash .slick-prev:focus,.new-dash .slick-next:hover,.new-dash .slick-next:focus{
    background-color: #FFFFFF;
  }

  .new-dash .slick-prev.slick-disabled,.new-dash .slick-next.slick-disabled{
    background-color: rgba(255, 255, 255, 0.4) !important;
  }


  .new-dash .slick-prev:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 14px;
    top: 28%;
    left: 18%;
    z-index: 9;
    background: url('https://vega.slooh.com/assets/v4/dashboard-new/slider-arrow-right.svg')
      0 0 no-repeat;
    transform: rotate(180deg);
  }

  .new-dash .slick-prev{
    left: 10px
  }

  .new-dash .slick-next{
    right: 10px
  }

  .new-dash .slick-next:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 14px;
    top: 38%;
    left: 38%;
    z-index: 9;
    background: url('https://vega.slooh.com/assets/v4/dashboard-new/slider-arrow-right.svg')
      0 0 no-repeat;
    /* transform: rotate(180deg); */
  }


  .new-dash .slick-slide > div,
  .new-dash .slick-slide > div > div {
    outline: 0;
    outline: none;
  }

  .new-dash .slick-arrow.slick-disabled {
    cursor: not-allowed !important;
  } 

  .new-dash .img-slider{
    max-width: 100%;
    max-height: 350px;
    flex-shrink: 0;
}

.new-dash .slider-item{
  display: flex !important;
  justify-content: center;
}

.new-dash .slick-next:before, .new-dash .slick-prev:before {
  opacity: 1;
}

.new-dash .slick-slider:hover .slick-arrow{
  /* display: block !important; */
  visibility:visible;
  opacity:1;
}

// .new-dash .slick-arrow{
//   visibility:hidden;
//   opacity:0;
//   transition:visibility 0.5s linear,opacity 0.5s linear;
// }

.new-dash .slider-title{
  font-family: Adobe Garamond Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
}

.new-dash .slider-subtitle{
  font-family: Brandon Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;  

  color: #FFFFFF;
  margin: 10px 0px;
}

.new-dash .slider-content{
  font-family: Brandon Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  color: #FFFFFF;
}

.new-dash .slider-content-footer{
  margin: 16px 0px;
  display: flex;
  justify-content: space-between;
}

.new-dash .slider-footer-button{  
  padding: 8px;

  background: #E6EEFA;
  border-radius: 4px;  
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  color: #6698E3;
  display: flex;
  /* Inside Auto Layout */  
  
  margin-right: 8px;
  
}

.new-dash .slider-buttons-container{
  display: flex;
  flex-direction: row;
}

.new-dash .slider-updated{  
  font-family: Brandon Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: right;

  color: rgba(255, 255, 255, 0.4);
}

.new-dash .slider-div{
  padding: 0px;
}

.new-dash .slider-info-container-large{
  display: none;
}

@media (min-width: $screenXLarge){

    .new-dash .slider-info-container{
        display: none;
    }

    .new-dash .slider-info-container-large{
        display: block;
    }

    .new-dash .slider-div{
      padding: 0px 15px;
    }

    .new-dash .slick-prev {
      left: -25px;
      background-color: #253446;      
    }

    .new-dash .slick-next {
      right: -25px;
      background-color: #253446;      
    }
    
    .new-dash .img-slider{
      max-width: 40%;
      height: 230px;
      margin-left: 16px;
    }

    .new-dash .slider-item{
      padding: 0px 36px;
    }

    .new-dash .slick-next {     
      background-color: #253446;      
    }
  
    .new-dash .slick-prev:hover,.new-dash .slick-prev:focus,.new-dash .slick-next:hover,.new-dash .slick-next:focus{
      background-color: #253446;
    }
  
    .new-dash .slick-prev.slick-disabled,.new-dash .slick-next.slick-disabled{
      background-color: rgba(37,52,70, 0.4) !important;
      opacity: 0.4 !important;
    }

    .new-dash .slick-next:before {   
      width: 17px;
      height: 14px;
      top: 35%;
      left: 36%;  
      background: url('https://vega.slooh.com/assets/v4/dashboard-new/slider_arrow_right_white.svg')
        0 0 no-repeat;      
    }

    .new-dash .slick-prev:before {
      width: 17px;
      height: 14px;
      top: 30%;
      left: 20%;     
      background: url('https://vega.slooh.com/assets/v4/dashboard-new/slider_arrow_right_white.svg')
        0 0 no-repeat;      
    }

}